.cabinet-sidebar
    .cabinet-sidebar__item
        .cabinet-ava
            a(href="#")
                i.is-icons.is-icons--change-ava
                |  Изменить фото
            .blog__item-shadow
            img(src="images/avatar.jpg", alt="")
    .cabinet-sidebar__item
        ul.accordion.accordion--once
            li.accordion-inner
                .accordion-title-js.active
                    .accordion-title
                        b уведомления
                        i
                    .accordion-item.accordion-item-js.active
                        .accordion-item__inner
                            p Актуальные сообщения об акциях, специальных предложениях, скидках и распродажах
                            .margbot20
                                .checkbox
                                    input.chk--js(type="checkbox", id="id33")
                                    label(for="id33"): b SMS
                                .checkbox
                                    input.chk--js(type="checkbox", id="id34")
                                    label(for="id34"): b E-mail
                            p: a.text--default(href="#") Правила использования
            li.accordion-inner.accordion-inner--cabinet
                .accordion-title-js.active
                    .accordion-title.accordion-title--red.accordion-title--lg
                        i.is-icons.is-icons--shares
                        b Акции
                        i
                    .accordion-item.accordion-item-js.active
                        .accordion-item__inner.cabinet-sidebar-shares
                            .cabinet-sidebar-shares__header
                                .cabinet-sidebar-shares__img.is-col__xs-4
                                    img(src="images/logo-shares.png", alt="")
                                .cabinet-sidebar-shares__desc.is-col__xs-8
                                    a(href="#"): b #05189
                                    span 15.12.2015
                            .cabinet-sidebar-shares__body
                                p Количество баллов:
                                p
                                    span.price 2110
                                    i.is-icons.is-icons--coins
                                p До розыгрыша осталось:
                                .b-countdown: div(data-controller="Cloaca", data-time="500000")
                                p: a.text--default(href="#") Правила розыгрыша
                        .accordion-item__inner.cabinet-sidebar-shares
                            .cabinet-sidebar-shares__header
                                .cabinet-sidebar-shares__img.is-col__xs-4
                                    img(src="images/logo-shares-1.png", alt="")
                                .cabinet-sidebar-shares__desc.is-col__xs-8
                                    a(href="#"): b #05189
                                    span 15.12.2015
                            .cabinet-sidebar-shares__body
                                p Количество баллов:
                                p
                                    span.price 13501
                                    i.is-icons.is-icons--coins
                                p До розыгрыша осталось:
                                .b-countdown: div(data-controller="Cloaca", data-time="500000")
                                p: a.text--default(href="#") Правила розыгрыша