.cabinet-info
    .cabinet-info__left
        .cabinet-info__username Миранда Citygirl Керрова
        .cabinet-info__inner
            .cabinet-info__usercontact.is-col__lg-6.is-col__xs-12
                p 20.10.1990
                p Москва
                p
                    a(href="#") mirakerr@mail.ru
                    br
                    | +7 915 920 300 5
            .cabinet-info__usermenu__item.is-col__lg-6.is-col__xs-12.text__lg--right
                i.is-icons.is-icons--help
                a(href="#") Помощь
        .cabinet-info__usermenu
            .cabinet-info__usermenu__item.is-col__lg-8.is-col__xs-12
                i.is-icons.is-icons--edit-data
                a(href="#") Редактировать данные
            .cabinet-info__usermenu__item.is-col__lg-4.text__lg--right
                i.is-icons.is-icons--exit
                a(href="#") Выйти
    .cabinet-info__right
        .cabinet-info-card
            .cabinet-info-card__header
                .cabinet-info-card__date.is-col__lg-7.is-col__xs-6 Выдана: 13.12.2015
                .cabinet-info-card__status.is-col__lg-5.is-col__xs-6 
                    | Активна
                    i.is-icons.is-icons--question
            .cabinet-info-card__body.is-row
                .cabinet-info-card__title.is-col.is-col__lg-9.is-col__xs-8
                    | Карта №
                    span 370001705 3701
                .cabinet-info-card__img.is-col.is-col__lg-3.col__xs-4: img(src="images/card-img.png", alt="")
            .cabinet-info-card__footer
                .cabinet-info-card__footer-item.is-col__lg-7.is-col__xs-6 
                    .cabinet-info-card__subtitle Рейтинг
                    .cabinet-info-card__desc
                        .star-rating
                            .star-rating__wrap
                                input.star-rating__input(id="star-1", type="radio", name="rating")
                                label.star-rating__ico.icon-star(for="star-1")
                                input.star-rating__input(id="star-01", type="radio", name="rating")
                                label.half.star-rating__ico.icon-star-half(for="star-01")
                                input.star-rating__input(id="star-2", type="radio", name="rating")
                                label.star-rating__ico.icon-star(for="star-2")
                                input.star-rating__input(id="star-02", type="radio", name="rating", checked)
                                label.half.star-rating__ico.icon-star-half(for="star-02")
                                input.star-rating__input(id="star-3", type="radio", name="rating")
                                label.star-rating__ico.icon-star(for="star-3")
                                input.star-rating__input(id="star-03", type="radio", name="rating")
                                label.half.star-rating__ico.icon-star-half(for="star-03")
                .cabinet-info-card__footer-item.is-col__lg-5.is-col__xs-6 
                    .cabinet-info-card__subtitle Баланс карты
                    .cabinet-info-card__subdesc
                        span.coins 356
                        i.is-icons.is-icons--coins-b
        .cabinet-info-card__hide
            .lines
                .lines-item
                    .lines-item__full(style="width:100%")
                    .lines-item__empty
                .lines-item
                    .lines-item__full(style="width:60%")
                    .lines-item__empty
                .lines-item
                    .lines-item__full(style="width:0")
                    .lines-item__empty
            .cabinet-info-card__hide-body
                .is-row
                    .is-col.is-col__lg-9
                        div Общий рейтинг:
                        .desc 454780
                        .margtop20 До следующего уровня:
                        .desc 45220
                    .is-col.is-col__lg-3.text--right
                        i.is-icons.is-icons--question-b