form.aside
    .aside-mobile.aside-mobile--js
        .inner: i.is-icons.is-icons--aside_ico 
    .aside-inner 
        ul.accordion
            li: a.accordion-header(href="#")
                span Очистить фильтр
                i.is-icons.is-icons--reload-sm
            li.accordion-inner
                .checkbox
                    input.check_all(type="checkbox", id="id2")
                    label(for="id2")
                .accordion-title-js.active
                    .accordion-title
                        b Города
                        i
                    .accordion-item.accordion-item-js.active
                        .checkbox
                            input.chk--js(type="checkbox", id="id3")
                            label(for="id3") Будва (47)
                        .checkbox
                            input.chk--js(type="checkbox", id="id4")
                            label(for="id4") Подгорица (3)
                        .checkbox
                            input.chk--js(type="checkbox", id="id5")
                            label(for="id5") Бар (1)
                        .checkbox
                            input.chk--js(type="checkbox", id="id6")
                            label(for="id6") Котор (2)
                        .checkbox
                            input.chk--js(type="checkbox", id="id7")
                            label(for="id7") Херцег-Нови (1)
                        .checkbox
                            input.chk--js(type="checkbox", id="id8")
                            label(for="id8") Никшич (1)
                        .checkbox
                            input.chk--js(type="checkbox", id="id9")
                            label(for="id9") Биело-поле (1)
                        .checkbox
                            input.chk--js(type="checkbox", id="id10")
                            label(for="id10") Плевля (1)
                        .checkbox
                            input.chk--js(type="checkbox", id="id11")
                            label(for="id11") Петровац (5)
            li.accordion-inner
                .checkbox
                    input.check_all.check-tag--js(type="checkbox", id="id12", data-target="Рестораны", data-class="btn--info")
                    label(for="id12")
                .accordion-title-js.active
                    .accordion-title
                        b Рестораны
                        i
                    .accordion-item.accordion-item-js.active
                        .checkbox
                            input.chk--js(type="checkbox", id="id13")
                            label(for="id13") Ресторан
                        .checkbox
                            input.chk--js(type="checkbox", id="id14")
                            label(for="id14") Бар
                        .checkbox
                            input.chk--js(type="checkbox", id="id15")
                            label(for="id15") Кафе
                        .checkbox
                            input.chk--js(type="checkbox", id="id55")
                            label(for="id55") Пиццерия
                        .checkbox
                            input.chk--js(type="checkbox", id="id56")
                            label(for="id56") Рыбный ресторан
                        .checkbox
                            input.chk--js(type="checkbox", id="id57")
                            label(for="id57") Фаст-фуд
            li.accordion-inner
                .checkbox
                    input.check_all.check-tag--js(type="checkbox", id="id16", data-target="Здоровье и красота", data-class="btn--success")
                    label(for="id16")
                .accordion-title-js.active
                    .accordion-title
                        b Здоровье
                        i
                    .accordion-item.accordion-item-js.active
                        .checkbox
                            input.chk--js(type="checkbox", id="id17")
                            label(for="id17") 35x35
                        .checkbox
                            input.chk--js(type="checkbox", id="id18")
                            label(for="id18") 16x16
                        .checkbox
                            input.chk--js(type="checkbox", id="id19")
                            label(for="id19") 20x30
                        .checkbox
                            input.chk--js(type="checkbox", id="id20")
                            label(for="id20") 20x20
                        .checkbox
                            input.chk--js(type="checkbox", id="id21")
                            label(for="id21") 25x25
                        .checkbox
                            input.chk--js(type="checkbox", id="id22")
                            label(for="id22") 50x20
            li.accordion-inner
                .checkbox
                    input.check_all.check-tag--js(type="checkbox", id="id23", data-target="Магазины", data-class="btn--danger")
                    label(for="id23")
                .accordion-title-js
                    .accordion-title
                        b Магазины
                        i
                    .accordion-item.accordion-item-js
                        .checkbox
                            input.chk--js(type="checkbox", id="id24")
                            label(for="id24") Бифлекс
                        .checkbox
                            input.chk--js(type="checkbox", id="id25")
                            label(for="id25") Полиэстер
                        .checkbox
                            input.chk--js(type="checkbox", id="id26")
                            label(for="id26") Текстиль
            li.accordion-inner
                .checkbox
                    input.check_all.check-tag--js(type="checkbox", id="id27", data-target="Транспорт", data-class="btn--warning")
                    label(for="id27")
                .accordion-title-js
                    .accordion-title
                        b Транспорт
                        i
                    .accordion-item.accordion-item-js
                        .checkbox
                            input.chk--js(type="checkbox", id="id28")
                            label(for="id28") Подголовник
                        .checkbox
                            input.chk--js(type="checkbox", id="id29")
                            label(for="id29") Подушка
                        .checkbox
                            input.chk--js(type="checkbox", id="id30")
                            label(for="id30") Игрушка
                        .checkbox
                            input.chk--js(type="checkbox", id="id31")
                            label(for="id31") Валик
            li.accordion-inner
                .checkbox
                    input.check_all(type="checkbox", id="id32")
                    label(for="id32")
                .accordion-title-js
                    .accordion-title
                        b Услуги
                        i
                    .accordion-item.accordion-item-js
                      .checkbox
                          input.chk--js(type="checkbox", id="id33")
                          label(for="id33"): b Работает сейчас
                      .checkbox
                          input.chk--js(type="checkbox", id="id34")
                          label(for="id34"): b Круглосуточно
                      .checkbox
                          input.chk--js(type="checkbox", id="id35")
                          label(for="id35") Wi-Fi (36)
                      .checkbox
                          input.chk--js(type="checkbox", id="id36")
                          label(for="id36") Спорт трансляции (5)
                      .checkbox
                          input.chk--js(type="checkbox", id="id37")
                          label(for="id37") Летняя веранда (29)
                      .checkbox
                          input.chk--js(type="checkbox", id="id38")
                          label(for="id38") Еда на вынос (3)
                      .checkbox
                          input.chk--js(type="checkbox", id="id39")
                          label(for="id39") Парковка (28)
                      .checkbox
                          input.chk--js(type="checkbox", id="id40")
                          label(for="id40") Живая музыка (5)
                      .checkbox
                          input.chk--js(type="checkbox", id="id41")
                          label(for="id41") Резервирование (5)
                      .checkbox
                          input.chk--js(type="checkbox", id="id42")
                          label(for="id42") Завтраки (9)
                      .checkbox
                          input.chk--js(type="checkbox", id="id43")
                          label(for="id43") Винная карта (4)
                      .checkbox
                          input.chk--js(type="checkbox", id="id44")
                          label(for="id44") Кальян (2)
                      .checkbox
                          input.chk--js(type="checkbox", id="id45")
                          label(for="id45") Бизнес ланч (2)
                      .checkbox
                          input.chk--js(type="checkbox", id="id46")
                          label(for="id46") Счастливые часы (1)
                      .checkbox
                          input.chk--js(type="checkbox", id="id47")
                          label(for="id47") Постное меню (2)
                      .checkbox
                          input.chk--js(type="checkbox", id="id48")
                          label(for="id48") Гардероб (1)
