form.aside
    .aside-mobile.aside-mobile--js
        .inner: i.is-icons.is-icons--aside_ico
    .aside-inner 
        ul.accordion
            li: a.accordion-header(href="#")
                span Очистить фильтр
                i.is-icons.is-icons--reload-sm
            li.accordion-inner.accordion-inner--top
                .checkbox
                    input.check_all(type="checkbox", id="id2")
                    label(for="id2")
                div
                    .accordion-title
                        b Рейтинг призов
                    .accordion-item.accordion-item--body
                        .star-rating
                            .star-rating__wrap
                                input.star-rating__input(id="star-1", type="radio", name="rating")
                                label.star-rating__ico.icon-star(for="star-1")
                                input.star-rating__input(id="star-01", type="radio", name="rating")
                                label.half.star-rating__ico.icon-star-half(for="star-01")
                                input.star-rating__input(id="star-2", type="radio", name="rating")
                                label.star-rating__ico.icon-star(for="star-2")
                                input.star-rating__input(id="star-02", type="radio", name="rating")
                                label.half.star-rating__ico.icon-star-half(for="star-02")
                                input.star-rating__input(id="star-3", type="radio", name="rating")
                                label.star-rating__ico.icon-star(for="star-3")
                                input.star-rating__input(id="star-03", type="radio", name="rating")
                                label.half.star-rating__ico.icon-star-half(for="star-03")
            li.accordion-inner.accordion-inner--top
                .checkbox
                    input.check_all(type="checkbox", id="id12")
                    label(for="id12")
                .accordion-title-js
                    .accordion-title
                        b Период
                        i
                    .accordion-item.accordion-item-js
                        .checkbox
                            input.chk--js(type="checkbox", id="id13")
                            label(for="id13") День
                        .checkbox
                            input.chk--js(type="checkbox", id="id14")
                            label(for="id14") Неделя
                        .checkbox
                            input.chk--js(type="checkbox", id="id15")
                            label(for="id15") Месяц
                        .checkbox
                            input.chk--js(type="checkbox", id="id55")
                            label(for="id55") Год
            li.accordion-inner.accordion-inner--top
                .checkbox
                    input.check_all(type="checkbox", id="id22")
                    label(for="id22")
                .accordion-title-js
                    .accordion-title
                        b Организатор
                        i
                    .accordion-item.accordion-item-js
                        .checkbox
                            input.chk--js(type="checkbox", id="id23")
                            label(for="id23") Город Возможностей
                        .checkbox
                            input.chk--js(type="checkbox", id="id24")
                            label(for="id24") Партнеры
                        .checkbox
                            input.chk--js(type="checkbox", id="id25")
                            label(for="id25") Другое
