.text--center.text__md--left
    ul.pagination
        li.pagination__item
            a(href='#'): i.is-icons.is-icons--arrow-left
        li.pagination__item.active
            a(href='#') 1
        - for (var x = 2; x < 5; x++)
            li.pagination__item
                a(href='#')= x
        li.pagination__item
            a(href='#'): i.is-icons.is-icons--arrow-right
