#txt-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close-w
    .text--center
        h2 Важно! Чтобы точно получить бонусы:
    p.margbot30 - Проверьте, снят ли запрет на прием и хранение файлов Cookie.
        br
        | - отключите программы, блокирующие рекламу (например, AdBlock и др.)
        br
        | - не переходите в интернет-магазин с рекламных баннеров, чужих рассылок и других ресурсов, кроме нашего сайта и e-mail-рассылок «Город Возможностей»
        br
        | - воздержитесь при заказе от использования скидок, промокодов и бонусов других программ
        br
        | - не используйте для покупок мобильную версию сайта партнер
    a.btn.btn--success.btn--full(href="#") Перейти к партнеру

#form-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close-w
    .text--center
        h2 Оформление заявки
    form
        .form__group: input.control(type="text", placeholder="Имя", name="name")
        .form__group: input.control(type="text", placeholder="Фамилия", name="surname")
        .form__group: input.control(type="text", placeholder="Номер телефона", name="phone")
        .form__group.form__group--lg: textarea.control(placeholder="Сообщение", rows="8")
        .form__group
            .checkbox
                input(type="checkbox", id="id002", checked)
                label(for="id002") Получать новости от «Города»
        .form__group.form__group--lg
            .checkbox
                input(type="checkbox", id="id003")
                label(for="id003") Согласен на обработку моих данных
        button.btn.btn--success.btn--full(type="submit") Зарегистрироваться

#city-id.mfp-hide.white-popup.white-popup--sm
    a.popup-modal-dismiss(href="#")
      span.popup-close-txt  Закрыть
      span.popup-close:  i.is-icons.is-icons--close-w
    .text--center
        h2 Ваше местоположение
        p.margbot30 Вас интересует город #[a.text--success(href="#") Иваново?]
        ul.list--inline
          li.margtop10: a.btn.btn--success(href="#") Да
          li.margtop10: a.btn.btn--outlined(href="#") Выбрать другой

#map-id.mfp-hide.white-popup.white-popup--lg
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close-w
    .text--center
        h2 Выбор города
    form
        .form__group
            select.control#search-map(style="width:100%")
                option Test 1
                option Test 2 
                option Test 3
                option Test 4
                option Test 5
                option Test 6
        .is-row.city-list
            .is-col.is-col__md-4
                .city-list__item: a(href="#") Кодинск
                .city-list__item: a(href="#") Минусинск
                .city-list__item: a(href="#") Назарово
                .city-list__item: a(href="#") Сосновоборск
                .city-list__item: a(href="#") Шарыпово
                .city-list__item: a(href="#") Артемовск
                .city-list__item: a(href="#") Ачинск
            .is-col.is-col__md-4
                .city-list__item: a(href="#") Кодинск
                .city-list__item: a(href="#") Минусинск
                .city-list__item: a(href="#") Назарово
                .city-list__item: a(href="#") Сосновоборск
                .city-list__item: a(href="#") Шарыпово
                .city-list__item: a(href="#") Артемовск
                .city-list__item: a(href="#") Ачинск
            .is-col.is-col__md-4
                .city-list__item: a(href="#") Кодинск
                .city-list__item: a(href="#") Минусинск
                .city-list__item: a(href="#") Назарово
                .city-list__item: a(href="#") Сосновоборск
                .city-list__item: a(href="#") Шарыпово
                .city-list__item: a(href="#") Артемовск
                .city-list__item: a(href="#") Ачинск
