//
// Modules -> Forms
// --------------------------------------------------


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($base-font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: block;
  max-width: 100%;
  margin: 5px 0;
  color: #8493a8;
}


input[type="search"] {
  @include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.control {
  display: block;
  width: 100%;
  height: 50px;
  padding: $padding-base-vertical / 3 $padding-base-horizontal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 3px solid $input-border;
  border-radius: $input-border-radius;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  &:hover {
    // border-color: $base-color-main;
  }

  @include form-control-focus;

  @include placeholder;

 .error & {
   background-color: $white-lighten;
   border-color: $color-type-2a;
 }
}

// Reset height for `textarea`s
textarea.control {
  height: auto;
  resize: none;
}

select.control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  background: $input-bg;
    margin-bottom: 5px;
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  &.control-shadow {
    box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
  }
  //background-color: #ffffff;
  &:focus {
    //background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
  }
  option:disabled {
    color: #9a9a9a;
  }
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}


.form__group {
  margin-bottom: $form-group-margin-bottom;
}

.group {
  font-size: 0;
  margin-bottom: $form-group-margin-bottom - 5;
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: $form-group-margin-bottom + 5;
    }
  label {
    color: $base-color;
    margin-top: 14px;
  }
  &__item {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 5px;
  }
}

// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;

  label {
    padding-left: 39px;
    margin: 0;
    cursor: pointer;
    line-height: 1.6;
    font-weight: normal;
    color: $base-color-main;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 24px;
      width: 24px;
      border: 3px solid $color-type-4a;
      background-color: $white-lighten;
      text-align: center;
      line-height: 1.3;
    }
    &:before {
        content: '';
        position: absolute;
        z-index: 11;
        display: block;
    }
  }
}
.radio{
  label:after {
    @include border-radius(50px);
  }
}

.checkbox {
  input[type="checkbox"] {    opacity: 0;
    position: absolute;}
}
.radio {
  margin-top: 9px;
  input[type="radio"] {    opacity: 0;
    position: absolute;}
}
.radio input[type="radio"]:checked + label:before,
.radio input[type="radio"]:hover + label:before {
  top: 5px;
  left: 5px;
  opacity: 0.2;
  @include sprite(radiobutton);
}
.checkbox input[type="checkbox"]:checked + label:before,
.checkbox input[type="checkbox"]:hover + label:before {
  top: 5px;
  left: 4px;
  opacity: 0.2;
  @include sprite(okey);
}


.checkbox input[type="checkbox"]:checked + label:before,
.radio input[type="radio"]:checked + label:before {
  opacity: 1;
}


.radio + .radio,
.checkbox + .checkbox {
  margin-top: 15px;
}

.radio--inline,
.checkbox--inline {
  position: relative;
  display: inline-block;
  //padding-right: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
    width: 100%;
    @media screen and (min-width: $screen-sm-min) {
        width: auto;
    }
}
.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
  margin-top: 9px;
    @media screen and (min-width: $screen-sm-min) {
      margin-left: 50px;
    }
}

@if $use-input-group == true {
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    &[class*="cell-"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
    .control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }
  .input-group--addon,
  .input-group--btn,
  .input-group .control {
    display: table-cell;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  .input-group--addon,
  .input-group--btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  .input-group--addon {
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $base-font-size;
    font-weight: normal;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: 1px solid $input-group-addon-border-color;
    border-radius: $border-radius-base;

    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0;
    }
  }

  // Reset rounded corners
  .input-group .control:first-child,
  .input-group--addon:first-child,
  .input-group--btn:first-child > .btn,
  .input-group--btn:first-child > .btn-group > .btn,
  .input-group--btn:last-child > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  .input-group--addon:first-child {
    border-right: 0;
  }
  .input-group .control:last-child,
  .input-group--addon:last-child,
  .input-group--btn:last-child > .btn,
  .input-group--btn:last-child > .btn-group > .btn,
  .input-group--btn:first-child > .btn:not(:first-child),
  .input-group--btn:first-child > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
  .input-group--addon:last-child {
    border-left: 0;
  }

  .input-group--btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;

    > .btn {
      position: relative;
      + .btn {
        margin-left: -1px;
      }
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }
    }
    &:first-child {
      > .btn,
      > .btn-group {
        margin-right: -1px;
      }
    }
    &:last-child {
      > .btn,
      > .btn-group {
        z-index: 2;
        margin-left: -1px;
      }
    }
  }
}


.error {
  &-body {
    padding: 20px;
    color: $white-lighten;
    background-color: $color-type-2a;
    &__inner {
      @media screen and (min-width: $screen-lg-min)  {
        width: 55%;
      }
    }
  }
}