//
// Partials -> Filter
// ------------------------------------

.aside-inner {
    max-height: 0;
    @include transition();
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    @media (min-width: $screen-adaptive-nav) {
        max-height: inherit;
        position: static;
        overflow: auto;
    }
    > div, > ul {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

.accordion {
    margin: 0 auto;
    &-inner {
        font-size: 15px;
        position: relative;
        padding: 15px 20px;
        box-shadow: inset 0 17px 32px rgba(44, 44, 44, 0.06), 0 17px 32px rgba(44, 44, 44, 0.08);
        background-color: #ffffff;
        &--top {
            &+& {
                margin-top: 20px;
            }
        }
    }
    .active i:not(.is-icons):before {
        border-width: 0 6.5px 7px 6.5px;
        border-color: transparent transparent #000000 transparent;
    }
    //without checkbox
    &--once {
        .accordion {
            &-title {
                padding: 15px 20px;
                box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
            }
            &-inner {
                padding: 0;
                +.accordion-inner {
                    margin-top: 20px;
                }
            }
            &-item {
                padding-top: 0;
                &__inner {
                    padding: 15px 20px;
                }
            }
        }
    }
    //without checkbox
    //typical accrodion
    &--simple {
        .accordion {
            &-title {
                padding: 0;
                font-size: 21px;
                text-transform: none;
                font-family: $base-font-family-mono;
                i:not(.is-icons) {
                    position: static;
                    display: inline-block;
                    margin-left: 10px;
                    margin-bottom: 3px;
                }
            }
            &-item {
                padding-top: 10px;
            }
            &-inner {
                padding: 0;
                box-shadow: none;
                background-color: transparent;
                +.accordion-inner {
                    margin-top: 20px;
                }
            }
        }
    }
    //typical accrodion
    &-header {
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
        background-color: #ffffff;
        padding: 15px 20px;
        position: relative;
        display: block;
        text-decoration: none;
        i {
            position: absolute;
            top: 13px;
            right: 15px;
        }
    }
    &-item {
        padding-top: 15px;
        &--body {
            padding: 15px 0 0 33px;
        }
    }
    &-title {
        cursor: pointer;
        padding: 0 0 0 40px;
        font-weight: 700;
        text-transform: uppercase;
        i:not(.is-icons) {
            position: absolute;
            top: 22px;
            right: 15px;
            &:before {
                content: '';
                border-style: solid;
                border-width: 7px 6.5px 0 6.5px;
                border-color: #000000 transparent transparent transparent;
                width: 0;
                height: 0;
                display: block;
            }
        }
        //large
        &--lg {
            text-transform: none;
            font-family: $base-font-family-mono;
            b {
                font-size: 21px;
            }
        }
        //large
        //red back
        &--red {
            padding: 10px 20px !important;
            height: 50px;
            background: $color-type-2a;
            color: $white-lighten;
            .is-icons {
                vertical-align: text-bottom;
                margin-right: 20px;
            }
            i:not(.is-icons):before {
                border-color: #fff transparent transparent transparent;
            }
        }
        //red back
        //4 table
        &--table {
            height: 87px;
            .accordion--once & {
                padding: 27px 15px;
                  @media screen and (min-width: $screen-sm-min)  {
                      padding: 27px 30px;
                  }
            }
            span {
                margin-left: 20px;
                padding: 10px 15px;
                font-weight: 400;
                font-family: $base-font-family;
                color: $white-lighten;
                background: $color-type-4a;
            }
            i:not(.is-icons) {
                top: 40px;
                right: 15px;
                  @media screen and (min-width: $screen-sm-min)  {   
                        right: 30px;
                  }
            }
        }
        //4 table
    }
    .active .accordion-title--red i:not(.is-icons):before {
        border-color: transparent transparent $white-lighten transparent;
    }
}

.aside {
    &-mobile {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 102;
        @media screen and (min-width: $screen-md-min) {
            display: none;
        }
        &::after {
            content: '';
            width: 4px;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #2c2c2c;
        }
        .inner {
            position: relative;
            top: 35%;
            background-color: #2c2c2c;
            -moz-border-radius: 50px 0 0 50px;
            border-radius: 50px 0 0 50px;
            width: 34px;
            height: 69px;
            text-align: center;
            line-height: 64px;
            cursor: pointer;
        }
        img {
            @include transition();
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
    &.active {
        img {
            transform: rotate(45deg);
        }
        .aside-inner {
            overflow: auto;
            padding: 15px 10px;
            max-height: 1000px;
            background: $white-lighten;
        }
    }
}


//star
.star-rating {
    &__input {
        display: none;
    }
    &__wrap {
        @extend .clearfix;
        display: inline-block;
    }
    label {
        display: inline-block;
        font-size: 23px;
    }
    &__ico {
        color: #d7d7d7;
        float: right;
        &:before {
            margin-right: 0;
        }
        &:hover,
        .star-rating__input:checked~&,
        &:hover~& {
            color: $color-type-3a;
        }
    }
    .half:before {
      position: absolute;
        margin: 2px 0 0 7px;
    }

}

//star
