//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding: 10px 0 20px;
  background-color: $white-lighten;
  @media (min-width: $screen-md-min) {
    padding: 52px 0 36px;
  }
  &__logo {
    position: relative;
    .slogan {
      position: absolute;
      top: -16px;right: 0;
      @media screen and (min-width: $screen-lg-min) {
        top: 0;right: 10px;
      }
    }
  }
  &__social {
    padding: 20px 0;
    @media (min-width: $screen-md-min) {
      padding: 28px 0;
    }
    .list--inline {
      margin-bottom: 0;
      margin-left: -1px;
      li {
       padding: 0 1px;
     }
    }
  }
  &__toggle {
    @media screen and (max-width: $screen-sm-max) {
      padding: 10px 0;
      cursor: pointer;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 17px;
        right: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: #000000 transparent transparent transparent;
      }
      .active > &::after {
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent #000000 transparent;
      }
    }
  }
  .navigation {
    @media screen and (max-width: $screen-sm-max) {
      max-height: 30px;
      overflow: hidden;
      @include transition();
      &.active {
        max-height: 180px;
      }
    }
    li { margin-bottom: 5px; }
    a { text-decoration: none; &:hover {text-decoration: underline;}}
  }
  &__copyrights {
    margin-bottom: 10px;
  }
  .navbar-brand {
    float: none;
  }
}
