//
// Partials -> Header
// ------------------------------------


//
// Header
//
.header {
  &__logo {
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
      //text-align: left;
      display: inline-block;
    }
  }
  &-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    height: 65px;
    overflow: hidden;
    background: $base-color-main;
    @include transition();
    a:not(.btn) {
      color: #fff;
      text-decoration: none;
    }
    i {
      padding: 0 8px;
    }
    &__inner {
      //display: inline-block;
      padding: 15px 0;
      font-size: 0;
      @extend .is-row;
      position: relative;
      line-height: 32px;
    }
    &__col {
      font-size: $base-font-size;
      padding: 0 10px;
      display: inline-block;
      vertical-align: middle;
    }
    .ava,
    &__item {
      display: inline-block;
      vertical-align: top;
    }
    &__logo {
      @media screen and (max-width: $screen-sm-max) {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 28px;
      }
    }
    &__menu {
      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }
    &__menubar {
      display: inline-block;
      cursor: pointer;
      position: relative;
      @media screen and (min-width: $screen-md-min) {
        display: none;
      }
    }
    &__location {
      span {
        border-bottom: 1px dotted #fff;
      }
      a:hover span {
        border-color: transparent;
      }
    }
    &__loc {
      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }
    &__reg {
      padding-left: 10px;
      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }
    .isnot-scrolled {
      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }
    .is-scrolled {
      @media screen and (min-width: $screen-md-min) {
        display: none;
      }
    }
    @media screen and (min-width: $screen-md-min) {
      &.fixed {
        .isnot-scrolled {
          display: none;
        }
        .is-scrolled {
          display: inline-block;
        }
      }
    }

    //mobile active menubar
    &.active {
      position: fixed;
      height:100%;
      bottom: 0;
      z-index: 109;
      overflow: auto;
      .header-top__logo,
      .header-search {
        display: none;
      }
      .mobile-links {
        display: block;
      }
      .header-top__menu {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 65px;
        background-color: #2c2c2c;
      }
      .main-nav__link {
        padding: 9px;
        &:hover {
          background-color: #262626;
        }
      }
      .header-top__reg {
        display: inline-block;
      }
    }
  }
  &-bottom {
    background: $white-lighten;
    margin-top: 65px;
    padding: 35px 0;
    &__inner {
      font-size: 0;
      @extend .is-row;
    }
    &__col {
      font-size: $base-font-size;
      padding: 0 10px;
      display: inline-block;
      vertical-align: top;
    }
    .main-nav {
      //text-align: center;
      .main-nav__item + .main-nav__item {
        padding-left: 12px;
        @media screen and (min-width: $screen-lg-min) {
          padding-left: 30px;
        }
      }
      &__link {
        padding: 0;
      }
    }
  }
  &-search {
    &__body {
      display: none;
      position: absolute;
      top: 7px;
      right: 0;
      left: 0;
      z-index: 19;
      background: $base-color-main;
      button,
      input {
        background-color: transparent;
        border: none;
        color: $white-lighten;
        &:focus {
          background-color: transparent;
        }
      }
      input {
        padding: 5px 40px;
      }
      button {
        padding: 10px 0;
        min-width: inherit;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin:auto;
      }
    }
    &__close {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      height: 33px;
      margin:auto;
      cursor: pointer;
    }
  }
  &__link {
    margin-top: -19px;
    text-align: center;
    span {display: block;}
  }
}
.user-text {
  display: inline-block;
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: none;
  }
}
.mobile-links {
  display: none;
  width: 100%;
  font-size: 0;
  &__item {
    display: inline-block;
    width: 50%;
    line-height: 1.4;
    font-size:$base-font-size;
    text-align: center;
    padding: 29px 35px;
    color: $white-lighten;
    background-color: #50ba72;
    &:hover {
      background-color: #48a867;
    }
    i, img {
      margin-bottom: 15px;
      display: block;
    }
  }
}
.city-list {
  line-height: 28px;
  &__item {
    a {
      text-decoration: none;
    }
  }
}

//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
