//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

body.fix {
    overflow: hidden;
}

//
// Main container
//
.page-main {
  padding-top: 20px;
  padding-bottom: 20px;
}


.tip {
  position: absolute;
  font-size: 13px;
  top: -7px;
  right: 0;
  line-height: 1;
  padding: 0 5px 1px 4px;
  border-radius: 7px;
  &--danger {
    color: $white-lighten;
    background-color: $color-type-2a;
  }
}

.notice {
  &-item {
    position: relative;
    &__close {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }
    & + & {
      margin-top: 20px;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 21px;
      font-weight: 700;
      font-family: $base-font-family-mono;
    }
    &__desc {
      margin-bottom: 15px;
      @media screen and (min-width: $screen-md-min)  {       
        min-height: 50px;
        overflow: hidden;
      }
    }
    &__body {
      padding: 15px;
      background-color: $white-lighten;
      box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
      @media screen and (min-width: $screen-md-min)  {       
           padding: 30px;
      }
      a {color: $color-type-1a}
      &--important {}
      &--danger {
        color: $white-lighten;
        background-color: $color-type-2a;
        a {color: $white-lighten}
      }
      &--success {
        color: $white-lighten;
        background-color: $color-type-4a;
        a {color: $white-lighten}
      }
    }
  }
}

.shadow {
  box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
}
