//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    margin-bottom: $line-height-computed;
    list-style: none;

    > li {
      display: inline-block;
      font-size: 13px;
      font-weight: 300;

      a {
        color: $breadcrumb-color;
        &:hover {
          text-decoration: none;
        }
      }

      + li {
        &:before {
          content: "";
          width: 0;
          height: 0;
          vertical-align: middle;
          display: inline-block;
          border-style: solid;
          border-width: 2.5px 0 2.5px 3px;
          border-color: transparent transparent transparent $breadcrumb-color;
          margin: 0 5px;
        }
      }

      &.active {
        color: $breadcrumb-color;
      }
    }
  }
}