//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: inline-block;
    padding: 0;
    margin: 40px 0;
    @include main-back();

    &__item {
      display: inline-block;
      margin-left: -4px;
      a,
      span {
        position: relative;
        font-size: 15px;
        //float: left;
        height: 50px;
//        width: 40px;
        padding: 13px 20px;
        line-height: $base-line-height;
        text-decoration: none;
        color: $pagination-color;
        background-color: $pagination-bg;
          display: inline-block;
      }
      &:first-child {
        a,
        span {
          width: 50px;
          box-shadow: inset 0 17px 32px rgba(44, 44, 44, 0.08);
          background-color: #fcfcfc;
        }
      }
      &:last-child {
        a,
        span {
          width: 50px;
          box-shadow: inset 0 17px 32px rgba(44, 44, 44, 0.08);
          background-color: #fcfcfc;
        }
      }
    }

    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: #eff5fb;
        text-decoration: underline;
      }
    }

    &__item.active a,
    &__item.active span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        cursor: default;
      }
    }
  }
}
