//
// Pages -> Action
// ------------------------------------


.action {

}

.card {
  font-size: 0;
  margin-bottom: 30px;
  box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
  background-color: #ffffff;
  > div {
    font-size: $base-font-size;
    display: inline-block;
    vertical-align: top;
  }
  &-img {
    text-align: center;
    .slider-nav {
      .slick-list {
        overflow: visible;
      }
      .slick-center::before {
        display: none;
      }
      .slick-slide {
        //overflow: hidden;
        margin: 0 5px;
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
        background-color: #ffffff;
        img {
          @include transition();
        }
        .inner {
          overflow: hidden;
        }
      }
      .slick-current img {
        transform: scale(1.6);
      }
    }
    .slider-for {
      box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .slick-list {
      padding: 0 !important;
    }
  }
  &-desc {
    padding: 15px;
      @media screen and (min-width: $screen-md-min) {
        padding: 30px;
       }
    .btn__icon--left {
      width: auto;
    }
    h3 {margin-top: 0;margin-bottom: 25px;} 
    a:not(.btn) {
      color: $color-type-1a;
      &:hover {
        color: $base-color;
      }
    }
  }
  &-prices {
    font-size: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    > div {
      width: 50%;
      font-size: 36px;
      display: inline-block;
      vertical-align: middle;
    }
    &__price {
      font-weight: 700;
    }
    i {
      font-size: 24px;
      vertical-align: middle;
      margin-left: 10px;
      &::before {
        vertical-align: top;
      }
    }
  }
}
