//
// Pages -> Blog
// ------------------------------------


.blog {
  &-inner {

  }
  &__item {
    font-size: 0;
    background-color: #ffffff;
    & + & {
      margin-top: 20px;
    }
    > div {
      vertical-align: middle;
      display: inline-block;
      font-size: $base-font-size;
      @media screen and (min-width: $screen-lg-min)  {
        vertical-align: top;
      }
    }
    &-left {
      position: relative;
    }
    &-img {
      img {
        width: 100%;
      }
    }
    &-title {
      @extend .clearfix;
      margin-top: 20px;
      h3 {
        margin: 0;
      }
    }
    &-shadow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 78px;
      opacity: 0.5;
      @include transition();
      background: url('../images/shadow-blog.png') repeat-x bottom center;
    }
    &:hover &-shadow {
      opacity: 0.9;
    }
    &-tags {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px 14px;
      color: $white-lighten;
      i {
        margin-right: 10px;
      }
    }
    &-desc {
      padding: 10px;
      @media screen and (min-width: $screen-lg-min)  {
        padding: 10px 20px 10px 30px;
      }
      p {
        max-height: 88px;
        overflow: hidden;
        margin-bottom: 20px;
      }
      h3 {
        max-height: 60px;
        min-height: 40px;
        overflow: hidden;
      }
      a {
        color: $color-type-1a;
        text-decoration: none;
      }
    }
  }
  &-item {
    .blog__item-desc {
      p {
        height: 125px;
      }
    }
    &__slider {
      position: relative;
    }
    &__body {
      padding: 15px 10px;
      font-size: 15px;
      background-color: #ffffff;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md-min)  {
      padding: 30px;
      }
      p {
        margin-bottom: 30px;
      }
      .zoom {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 2;
        color: $white-lighten;
        display: block;
        text-decoration: none;
        opacity: 0;
        @include transition();
        span {
          margin-left: 14px;
          vertical-align: middle;
        }
      }
      .tips {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        line-height: 40px;
        text-align: center;
        &__item {
          background-color: $color-type-4a;
          width: 50px;
          height: 50px;
          display: block;
          cursor: pointer;
          &.active,
          &:hover {
            background-color: $color-type-4c;
          }
        }
      }
      .shadow {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100px;
        z-index: 1;
        opacity: 0;
        @include transition();
        background: url("../images/slider-shadow.png") repeat-x top center;
      }
    }
  }
  &-slider {
    background-color: #e9e9e9;
    text-align: center;
    img {
      margin:auto;
    }
  }
}


.sidebar-menu {
  &-title {
    padding: 10px;
    color: $white-lighten;
    font-size: 21px;
    font-weight: 700;
    font-family: $base-font-family-mono;
    background: $color-type-4a;
    span {
      margin-left: 12px;
    }
  }
  &-body {
    box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
    background-color: #ffffff;
    margin: 0;
    padding: 35px 20px;
    ul {
      margin-top: 8px;
      margin-left: 15px;
    }
    li {
      margin-bottom: 8px;
    }
    a {
      text-decoration: none;
    }
    .menu-title {
      word-wrap: break-word;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}