//
// Pages -> Cabinet
// ------------------------------------


.cabinet {
  padding-top: 15px;
  margin-top: 40px;
  &-sidebar {
    margin-bottom: 20px;
    .flip-clock-wrapper {
      width: auto;
      display: inline-block;
    }
    &__item {}
    &-shares {
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
        text-align: center;
        @media screen and (min-width: $screen-sm-min) {
            text-align: left;
        }
        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
            width: 49.5%;
            display: inline-block;
        } 
        & + & {
            margin-top: 20px;
        }
      &__header {
        font-size: 0;
        margin-bottom: 20px;
        > div {
          font-size: $base-font-size;
          display: inline-block;
          vertical-align: middle;
        }
        span {
          display: block;
        }
      }
      &__body {
        .price {
          vertical-align: middle;
          font-size: 24px;
          font-family: $base-font-family-mono;
        }
        i {
          vertical-align: middle;
          margin-left: 10px;
        }
        .flip-clock-wrapper {
          margin-bottom: 20px;
        }
      }
      &__img { }
      &__desc { }
    }
  }
  &-ava {
    position: relative;
      text-align: center;
    a {
      position: absolute;
      bottom: 0;left:0;
      right: 0;
      padding: 20px;
      color: $white-lighten;
      text-decoration: none;
      z-index: 11;
    }
    img {width: 100%;}
    i {
      margin-right: 10px;
    }
  }
  &-info {
    box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
    background-color: #ffffff;
    font-size: 0;
    text-align: center;
    @media screen and (min-width: $screen-md-min) {
        text-align: left;
    }
    > div {
      font-size: 15px;
      display: inline-block;
      vertical-align: top;
    }
    &__left {
      padding: 10px;
      width: 100%;
      @media screen and (min-width: $screen-md-min)  {
        width: 54%;
      }
      @media screen and (min-width: $screen-lg-min)  {
        padding: 30px;
      }
    }
    &__right {
      width: 100%;
      padding: 10px;
      background-color: #50ba72;
      position: relative;
      @media screen and (min-width: $screen-md-min)  {
        width: 46%;
      }
      @media screen and (min-width: $screen-lg-min)  {
        padding: 20px 25px;
      }
    }
    &__username {
      font-size: 21px;
      font-weight: 700;
      margin-bottom: 25px;
      font-family: $base-font-family-mono;
    }
    &__inner {
      font-size: 0;
    }
    &__usercontact {
      font-size: 15px;
      display: inline-block;
      vertical-align: bottom;
      a {
        color: $color-type-1a;
      }
      p {
        margin-bottom: 8px;
      }
    }
    &__usermenu {
      //margin-top: 15px;
      font-size: 0;
      &__item {
        margin-top: 10px;
        font-size: 15px;
        display: inline-block;
        vertical-align: bottom;
        i {
          margin-right: 15px;
        }
      }
    }
    &-card {
      color: $white-lighten;
      &__header {
        font-size: 0;
        text-align: center;
        margin-bottom: 20px;
        > div {
          display: inline-block;
          vertical-align: middle;
          font-size: 11px;
          padding: 10px;
          @media screen and (min-width: $screen-lg-min)  {
            font-size: 15px;
          }
        }
      }
      &__body {
        margin-bottom: 15px;
      }
      &__footer {
        font-size: 0;
        &-item {
          display: inline-block;
          vertical-align: top;
          font-size: 15px;
        }
      }
      &__subtitle {
        margin-bottom: 10px;
      }
      &__subdesc {
        .star-rating label {
          font-size: 26px;
        }
        .star-rating__ico {
          background-color: #48a766;
        }
        .coins {
          font-size: 36px;
          font-weight: 700;
          vertical-align: middle;
        }
        i {
          vertical-align: middle;
          margin-left: 10px;
        }
      }
      &__date {
        @extend .text__xs;
        background-color: #419c5e;
      }
      &__status {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #48a766;
        position: relative;
        i {
          position: absolute;
          top: -6px;
          right: -7px;
        }
      }
      &__title {
        span {
          font-family: $base-font-family-mono;
          font-size: 30px;
          font-weight: 700;
          display: block;
        }
      }
      &__hide {
        position: absolute;
        top: 96%;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        @include transition(0.5s linear);
        :hover > & {
          opacity: 1;
          z-index: 21;
        }
        &-body {
          padding: 20px;
          box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
          background-color: #ffffff;
          .desc {
            font-size: 30px;
            font-weight: 700;
            font-family:$base-font-family-mono;
          }
        }
      }
    }
  }
  &-menubar {
    margin: 20px 0;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    i {
      margin-right: 15px;
    }
    li {
      cursor: pointer;
      position: relative;
      display: inline-block;
      margin-right: -4px;
      box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
      background-color: #f6f6f6;
      padding: 15px 10px;
      //height: 40px;
      height: 50px;
      color: #c7c7c7;
      width: 100%;
      text-decoration: none;
      @media screen and (min-width: $screen-sm-min)  {
        width: auto;
        padding: 15px 5px;
      }
      @media screen and (min-width: $screen-md-min)  {
        padding: 15px 10px;
      }
      @media screen and (min-width: $screen-lg-min)  {
        padding: 15px 30px;
      }
      &:hover,
      &.active {
        background: $white-lighten;
        color: $base-color;
        a {
          color: $base-color;
        }
      }
    }
    a {
      text-decoration: none;
      color: #c7c7c7;
    }
    &--null {
      margin-bottom: 0;
      li {
        width: auto;
      }
    }
    &--num {
      margin-top: 0;
      text-align: right;
      li {
        padding: 11px 20px !important;
        font-size: 21px;
        font-family: $base-font-family-mono;
      }
    }
  }

  &-table {
    th {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      color: $white-lighten;
      background-color: $color-type-4a;
      border: none;
      padding: 15px 5px;
      &:nth-child(2) {
        background-color: #48a867;
      }
    }
    p {
      margin-bottom: 6px;
    }
    tr {
      box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
      background-color: #ffffff;
    }
    td {
      padding: 20px;
      vertical-align: middle;
      border: none;
      &:nth-child(2) {
        background-color: #f5f5f5;
      }
      @media screen and (min-width: $screen-md-min)  {       
          &:nth-child(2), &:last-child {
            text-align: center;
          }
      }
      span {
        font-size: 24px;
        font-weight: 700;
        font-family: $base-font-family-mono;
        vertical-align: middle;
      }
      i {
        vertical-align: middle;
        margin-left: 7px;
      }
    }
  }
}


.settings {
  position: relative;
  &-header {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 30px;
    font-weight: 700;
    background-color: #ffffff;
  }
  &-body {
    padding: 15px;
    box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
    background-color: #ffffff;
    @media screen and (min-width: $screen-sm-min) {
        padding: 30px;
    }
    &--form {
      padding: 20px;
      @media screen and (min-width: $screen-md-min) {
          padding: 50px 60px;
      }
    }
  }
}

.lines {
  font-size: 0;
  &-item {
    width: 33.333%;
    height: 10px;
    display: inline-block;
    position: relative;
    & + & {
      border-left: 1px solid $white-lighten;
    }
    &__empty {
      height: 10px;
      background-color: #48a766;
    }
    &__full {
      position: absolute;
      height: 10px;
      background-color: #fdce4e;
    }
  }
}

.radiotab {
  &--content {
    display: none;
    &.active {
      display: block;
    }
  }
}