//
// Pages -> Catalog
// ------------------------------------
.catalog {}

.search {
    position: relative;
    margin-bottom: 15px;
    @media screen and (min-width: $screen-md-min) {
        margin-bottom: 30px;
    }
    .control {
        padding-right: 40px;
        background: #fff;
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
    }
    .btn {
        padding: 10px;
        background: none;
        min-width: inherit;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.sort {
    box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
    background-color: #ffffff;
    padding: 13px 15px;
    min-height: 50px;
    margin-bottom: 30px;
    @extend .hidden__sm;
    @extend .hidden__xs;
    &__item {
        text-align: center;
        @media screen and (min-width: $screen-lg-min) {
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
        &-link {
            padding: 2px 10px;
            display: inline-block;
            &.active {
                text-decoration: none;
                color: $color-type-1a;
            }
            &--ext {
                font-size: 18px;
                padding: 0 5px;
            }
        }
    }
}

.tags {
    margin-bottom: 15px;
    margin-left: -8px;
    @media screen and (min-width: $screen-md-min) {
        height: 50px;
        margin-bottom: 30px;
    }
    // space-between -flex
    //text-align: justify;
    //&:after {
    //	content: '';
    //	display: inline-block;
    //	width: 100%;
    //}
    // space-between -flex
    &-title {
        margin-bottom: 30px;
        h1, .tags-item {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
        }
    }
    &-item {
        display: inline-block;
        position: relative;
        margin: 0 8px 5px;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
        }
        .btn {
            min-width: inherit;
        }
    }
}

.tabs {
    &__caption {
        margin: 0;
        display: inline-block;
        li {
            display: inline-block;
            padding: 0 5px;
            &.active {
                color: $color-type-1a;
            }
        }
    }
    &__content {
        display: none;
        &.active {
            display: block;
        }
    }
}