//
// Pages -> Company
// ------------------------------------


.company {
  &-body {
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 40px;
    &--inner {
      padding: 15px 10px;
      @media screen and (min-width: $screen-lg-min) {
          padding: 20px;
      }
    }
    .note {
      margin: 30px 0;
      a {
        color: $color-type-1a;
      }
    }
    p {
      margin-bottom: 20px;
    }
  }
  &-item {
    & + & {
      margin-top: 40px;
    }
    .partners__item--list {
      margin-bottom: 18px;
    }
  }
}

.discount {
  box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
  border: 5px solid #50ba72;
  background-color: #ffffff;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  &-percent {
    line-height: 1.2;
    font-size: 50px;
    font-weight:700;
    font-family: $base-font-family-mono;
  }
  &-desc {

  }
  &-img {
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
