//
// Pages -> Faq
// ------------------------------------


.faq {
  &-inner {
    padding: 15px;
    background-color: #ffffff;
    @media screen and (min-width: $screen-md-min) {
      padding: 30px;
    }
  }
}
