//
// Pages -> Index
// ------------------------------------

.page-index {
  margin: 20px 0;
  //margin: 50px 0;
}

.advert { 
  margin: 20px 0;
  position: relative;
  p {
    position: absolute;
    right: 20px;top: 20px;
    color: #000;
  }
}

.banner {
  &-slider {
    margin-top: 18px;
    .item {
      position: relative;
      &-shadow {
        background: url("../images/shadow.png") no-repeat bottom center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
      &-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40px;
        z-index: 1;
        text-align: center;
        color: $white-lighten;
        h1 { margin-bottom: 0;}
      }
    }
  }
  &-box {
    background-color: $white-lighten;
    height: 228px;
    position: relative;
    text-decoration: none;
    display: block;
    max-width: 350px;
    margin: 18px auto 0;
    @include transition();
    &:hover {
      color: $base-color;
      @include box-shadow($hover-shadow);
    }
    @media screen and (min-width: $screen-lg-min) {
      height: 234px;
    }
    & + & {
      //margin-top: 18px;
    }
    &--halfy {
      //margin-top: 18px;
      @media screen and (min-width: $screen-md-min) {
        width: 48%;
        vertical-align: top;
        display: inline-block;
        & + & {
          margin-left: 18px;
        }
      }
      @media screen and (min-width: $screen-lg-min) {
        width:100%;
        & + & {
          margin-left: 0;
        }
      }
    }
    &__title {
      padding: 1px 20px;
      position: relative;
      z-index: 1;

    }
    &__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}


.share {
  padding: 40px 0;
  background: $white-lighten;
  margin: 50px 0;
  &-inner {
    @extend .is-row;
    //display: table;
    //width: 100%;
    font-size: 0;
  }
  &-item {
    font-size:$base-font-size;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    vertical-align: top;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-md-min) {
      height: 228px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 0;
    }
    &--shorter {
      height:auto !important;
      @media screen and (min-width: $screen-lg-min) {
        height: 228px !important;
      }
      .share-bot {
        position: static;
        @media screen and (min-width: $screen-lg-min) {
          position: absolute;
        }
      }
      h3 {
        @extend .hidden__md;
      }
      p {
        color: #9b9b9b;
      }
    }
  }
  &-img {
    //margin:auto;
    text-align: center;
    //display: inline-block;
  }
  &-desc {
    display: inline-block;
    h3 {
      margin-top: 0;
    }
  }
  &-bot {
    text-align: center;
    .btn {
      min-width: 190px;
    }
    @media screen and (min-width: $screen-md-min) {
      text-align: left;
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 0;
    }
  }
}

.title {
  font-size: 0;
  @media screen and (min-width: $screen-lg-min) {
    padding: 0 30px;
  }
  h2.sec-title {
    margin-top: 0;
    margin-bottom: 20px;
    @media screen and (max-width: $screen-sm-max) {
      font-size: 28px;
      line-height: 1.3;
    }
  }
  &-item {
    font-size: $base-font-size;
    display: inline-block;
    //width: 100%;
    //@media screen and (min-width: $screen-md-min) {
      width: 66%;
      & + & {
        width: 34%;
      }
    //}
  }
  a {
    text-decoration: none;
    color: #b0b0b0;
    &:hover {
      text-decoration: underline;
      color: $color-type-1a;
    }
  }
}

.afisha {
  margin:auto;
  &-inner {
    > :last-child {
      @extend .hidden__md;
    }
  }
  &__item {
    position: relative;
    display: block;
    color: $white-lighten;
    max-width: 350px;
    margin: 0 auto 18px;
    @media screen and (min-width: $screen-md-min) {
      max-width: inherit;
    }
    &:hover {
      color: $white-lighten;
      @include box-shadow($hover-shadow);
    }
    &-title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;
      z-index: 10;
    }
    &-shadow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../images/shadow-mini.png") repeat-x bottom center;
    }
    &-img {
      img {width: 100%;}
    }
  }
}


.partners {
  margin: 50px auto;
  &-inner {
    > :last-child {
      @extend .hidden__md;
    }
  }
  &__item {
    background-color: #ffffff;
    max-width: 350px;
    margin: 0 auto 18px;
    @include transition();
    @media screen and (min-width: $screen-md-min) {
      max-width: inherit;
    }
    &:hover {
      @include box-shadow($hover-shadow);
      img {
        opacity: 0.7;
      }
    }
    &-img {
      text-align: center;
      padding: 18px;
      //min-height: 235px;
      line-height: 190px;
      border-bottom: 1px solid #f4f4f4;
      position: relative;
      background-color: $white-lighten;
       @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  {
         height: 210px;
       }
       @media screen and (min-width: $screen-md-min) {
         height: 235px;
       }
      &--nopad {
        padding: 0;
      }
      //.img {
      //  height: 100%;
      //  background-repeat: no-repeat;
      //  background-position: center;
      //    @media screen and (max-width: $screen-sm-max) {
      //      background-size: contain;
      //    }
      //}
      img {
        width: 100%;
        @media screen and (min-width: $screen-sm-min) {
          width: auto;
        }
      }
      .data {
        &-date {
          position: absolute;
          bottom: 15px;
          left: 20px;
          font-weight:700;
          color: $white-lighten;
          font-size: 13px;
          line-height: 1;
          z-index: 11;
        }
        &-link {
          position: absolute;
          right: 20px;
          bottom: 15px;
          line-height: 1;
          z-index: 11;
          a {
            color: $white-lighten;
          }
        }
        &-sale {
          position: absolute;
          bottom: 40px;
          right: 20px;
          font-size: 11px;
          width: 78px;
          text-align: center;
          font-family:$base-font-family-mono;
          color: $white-lighten;
          border: 3px solid #ffffff;
          line-height: 1;
          padding: 8px 0;
          z-index: 11;
          span {
            display: block;
            font-size: 30px;
          }
        }
      }
    }
    &-desc {
      padding: 14px;
      @media screen and (min-width: $screen-md-min) {
        padding: 17px;
      }
      h3 {
        margin-top: 0;}
      h4 {
        text-transform: uppercase;
        margin: 0;font-weight: 700;
      @media screen and (min-width: $screen-sm-min) {
        height: 70px;
       }
      } 
      p {
        //font-size: 15px;
      @media screen and (min-width: $screen-sm-min) {
        height: 83px;
        overflow: hidden;
       }
      }
    }
    &-share {
      margin-top: 20px;
      font-size:0;
      > div {
        display: inline-block;
        vertical-align: middle;
        font-size: $base-font-size;
      }
      a {
        color: $color-type-1a;
      }
    }
    &--price {
      font-size: 24px;
      font-weight:700;
    }
    &--coins {
      font-size: 24px;
    }
    &-footer {
      padding: 9px 8px;
      border-top: 1px solid #f4f4f4;
      font-size: 0;
      @media screen and (min-width: $screen-md-min) {
          padding: 9px 18px;
       }
      &--item {
        display: inline-block;
        vertical-align: middle;
        font-size:$base-font-size;
        width: 50%;
        > div {
          display: inline-block;
          vertical-align: middle;
          padding: 0 3px;
        }
      }
    }
    &-tag {
      .btn {font-size: 14px;padding: 10px 5px;}
    }
    &--list {
      margin-bottom: 0;
      font-size: 0;
      > div {
        display: inline-block;
        vertical-align: middle;
        font-size: $base-font-size;
      }
      .partners__item-img {
        padding: 0; 
        height: auto;
        line-height: 1;
          @media screen and (min-width: $screen-md-min) {
            text-align: left;
          }
      }
      .partners__item-desc {
          @media screen and (min-width: $screen-md-min) {
            padding: 10px 18px;
          }
        h4, p {
          height: auto;
          margin-bottom: 0;
        }
        h4 {margin-bottom: 10px;}
      }
      .partners__item-tag {
        width: 10px;
        height: 100px;
      }
    }
    &--foot {
      h4 {
        //height: 50px;
      }
    }
    &--table {
      font-size: $base-font-size;
      tbody tr {
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
        &:hover {
          box-shadow: $hover-shadow;
        }
        //background-color: #ffffff;
      }
      .partners__item-img {
        text-align: center;
      }
      td, th {
        padding: 0 10px;
        vertical-align: middle;
        border: none;
        background-color: #ffffff;
        &:nth-child(2) {
          padding: 0 5px;
        }
      }
      i {
        margin-left: 10px;
      }
      th {
        padding: 15px;
        color: #c3c3c3;
        text-align: left;
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
      }
      .target {
        margin: 10px 0;
        &.disabled {
          opacity: 0.11;
        }
        .popover {
          display: none;
        }
      }
      h4 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
      .partners__item--price {
        font-size: 15px;
      }
      .partners__item-img {
        height: auto;
        line-height:1;
      }
    }
  }
}
.reload-days {
  position: absolute;
  top: 20px;
  right: 15px;
  text-align: center;
  span {
    font-weight: 700;
    font-family: $base-font-family-mono;
    position: absolute;
    left: -2px;
    right: 0;
    top: 10px;
  }
}

.popover {
  position: absolute;
  box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
  background-color: #ffffff;
  padding: 15px;
  @include transition();
  z-index: 19;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
  &::before {
    content: '';
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -9px;
    left: 21px;
  }
}

.note {
  font-size: 16px;
  padding: 20px;
  background-color: #f4f4f4;
}
