//
// Pages -> Landing Page
// ------------------------------------

@mixin marg-space() {
  margin: 50px 0; 
}

.page-lp {
  @include marg-space();
  overflow: hidden;
  h1 {
    line-height: 1.1;
  }
  .partners__item-desc h4 {
    //height: 40px;
  }
}

//howto
.banner-cart {
  padding: 430px 20px 20px;
  background: url("../images/lp/howto-banner.png") no-repeat top right, $white-lighten;
  @media screen and (min-width: $screen-md-min) {
    padding: 30px 40px;
    background: url("../images/lp/howto-banner.png") no-repeat center right, $white-lighten;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 50px 80px;
  }
}
.bonus-section {
  @include marg-space();
  h2.sec-title {
    margin-bottom: 40px;
  }
}
.partners-section {
  @include marg-space();
}
.company-list {
  background: $white-lighten;
  padding: 20px;
  position: relative;
  @include marg-space();
  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    bottom: 0;
    background: $white-lighten;
  }
  &::before {
    left: -50%;
  }
  &::after {
    right: -50%;
  }
}
.opportunities-section {
  .btn {
    @media screen and (max-width: $screen-xs-max) {
      padding: 10px 5px;
    }
  }
}

//rules
.banner-star {
  padding: 430px 20px 20px;
  background: url("../images/lp/rules-banner.png") no-repeat top right, $white-lighten;
  @media screen and (min-width: $screen-md-min) {
    padding: 30px 40px;
    background: url("../images/lp/rules-banner.png") no-repeat center right, $white-lighten;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 45px 80px;
  }
}
.prize-section {
  @include marg-space();
  @media screen and (min-width: $screen-md-min) {
    padding: 0 30px;
    }
}
.statistic-section {
  @include marg-space();
  &-graph {
      @media screen and (min-width: $screen-lg-min) {
        padding-left: 80px;
      }
  }
    .is-icons {
        font-size: 13px;
      @media screen and (min-width: $screen-lg-min) {
        font-size: $base-font-size;
      }
    }
  &-inner {
    padding: 20px;
    background: $color-type-4a;
    color: $white-lighten;
    text-align: center;
    @media screen and (min-width: $screen-lg-min) {
        padding: 50px 30px;
    }
  }
  &__item {
    display: table;
    margin: 0;
    height: 160px;
    @media screen and (min-width: $screen-md-min) {
      margin: 0 auto;
    }
    @media screen and (min-width: $screen-lg-min) {
        margin: 40px auto 0;
    }
  }
  &_txt {
    text-align: left;
    display: table-cell;
    vertical-align: bottom;
    font-weight: 700;
    font-family:$base-font-family-mono;
    padding-right: 10px;
    width: 85px;
    @media screen and (min-width: $screen-md-min) {
      width:auto;
    }
    @media screen and (min-width: $screen-lg-min) {
        padding-right: 30px;
        font-size: 21px;
    }
    .ico {
      width: 40px;
      height: 40px;
      border: 3px solid #ffffff;
      border-radius: 40px;
      margin: 30px 0 0;
      &--danger {
        background-color: $color-type-2a;
      }
      &--info {
        background-color: $color-type-1a;
      }
      &--warning {
        background-color: $color-type-3a;
      }
    }
  }
  &_img {
    display: table-cell;
    vertical-align: bottom;
  }
}
.shares-section {
  @include marg-space();
}
.statistic-table {
  @media screen and (min-width: $screen-md-min) {
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
  }
  .star-rating {
    text-align: center;
  }
  h4 {margin-top: 0;}
  ul {
    margin-bottom: 0;
  }
  li {
    padding: 0 3px;
    vertical-align: middle;
  }
  .reload-days {
    position: relative;
    top: 0;
    left: 0;
    right:auto;
    &.disactive {
      opacity: 0.1;
    }
    &__xs {
      font-size: 13px;
      i::before {
        font-size: 11px;
      }
      span {top: 8px;}
    }
    &__sm {
      font-size: 13px;
      i::before {
        font-size: 13px;
      }
      span {top: 8px;}
    }
    &__md {
      //font-size: 16px;
      span {top: 8px;}
    }
    &__lg {
      font-size: 18px;
      i::before {
        font-size: 18px;
      }
    }
    &__xl {
      font-size: 20px;
      i::before {
        font-size: 18px;
      }
    }
  }
    tr {
        td {
          border: none;
          padding: 20px;
          background-color: #ffffff;
          @media screen and (min-width: $screen-md-min) {   
              width: 33%;      
              &:first-child {
                 box-shadow: inset -14px 0 10px -10px rgba(44, 44, 44, 0.08)
              }
            &:last-child {
             box-shadow: inset 14px 0 10px -10px rgba(44, 44, 44, 0.08)
            }
          }
          @media screen and (min-width: $screen-lg-min) {
              padding: 31px;
          }
    }
    &:nth-child(2) td {
        background-color: #f9f9fa;
    }
  }
  &__item {
    display: inline-block;
    width: 48%;
    h2.sec-title {
      margin: 0;
        line-height: 0.8;
      @media screen and (max-width: $screen-md-max) {
         font-size: 25px;
      }
    }
    .is-icons--coins::before {
      font-size: 22px;
        @media screen and (min-width: $screen-lg-min) {
            font-size: 25px;
        }
    }
    .is-icons--lp-triangle::before {
      font-size: 14px;
        @media screen and (min-width: $screen-lg-min) {
            font-size: 16px;
        }
    }
  }
}

//landing
.lp-nav {
    text-align: center;
    font-size: 0;
    position: relative;
    z-index: 1;
    margin: 0;
    a {
      text-decoration: none;
      &:hover {
        color: $color-type-3a;
        text-decoration: underline;
      }
    }
    li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-bottom: 15px;
        @media screen and (min-width: $screen-md-min) {
          width: 25%;
        }
    }
    b {
        margin-top: 20px;
        font-size: 21px;
        display: block;
        line-height: 1.2;
        font-family: $base-font-family-mono;
    }
    i {
      font-size: 28px;
    }
    span {
        font-size: $base-font-size;
    }
  &--half {
    li {
      width: 50%;
      @media screen and (min-width: $screen-md-min) {
        width: 50%;
      }
    }
  }
}
.banner-nav {
  text-align: center;
  position: relative;
  padding: 430px 20px 20px;
  background: url("../images/lp/landing-banner.jpg") no-repeat top center, $white-lighten;
  @media screen and (min-width: $screen-md-min) {
    text-align: left;
    padding: 40px;
    background: url("../images/lp/landing-banner.jpg") no-repeat center center, $white-lighten;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 40px 100px;
  }
  &__desc {
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    span {
      display: inline-block;
    }
  }
  h1 {
    font-size: 35px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 50px;
    }
  }
  .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 215px;
    z-index: 0;
    background: url('../images/lp/shadow.png') repeat-x bottom center;
  }
  @media screen and (min-width: $screen-md-min) {
    a, i {
      color: $white-lighten;
    }
  }
}
.club-section {
    @include marg-space();
}
.getcard-section {
    @include marg-space();
    color: $white-lighten;
    background: $color-type-4a;
    padding: 40px;
    position: relative;
    &__footer {
      text-align: center;
      margin-top: 40px;
      @media screen and (min-width: $screen-md-min) {
        text-align: right;
        margin-top: 110px;
      }
    }
    &__img {
      //text-align: center;
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin:auto;
        @media screen and (min-width: $screen-lg-min) {
          z-index: 2;
        }
      }
    }
}
.nav-section {
    @include marg-space();
    text-align: center;
    .getcard {
      height: 215px;
      padding: 134px 20px 30px;
      width: 100%;
      background: url("../images/lp/getcard-banner.jpg") no-repeat center;
    }
    i {
      color: #2c2c2c;
    }
}
.lp-contacts {
    text-align: center;
    &__inner {
        background: $white-lighten;
    }
    &__title {
      font-size: 21px;
      font-family: $base-font-family-mono;
    }
    &__desc {
      a {
        color: $color-type-1a;
      }
    }
    &__item {
        margin-bottom: 25px;
    }
    &__body {
        padding: 34px 40px;
    }
}
iframe {
    vertical-align: middle;
}