//
// Pages -> Order
// ------------------------------------


.order {
  &-inner {
  }
  &-table {
    margin-bottom: 30px;
    th {
      color: #ffffff;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      border: none;
      padding: 14px;
      background-color: #48a766;
      &:nth-child(even) {
        background-color: $color-type-4a;
      }
    }
    i {
      margin-left: 20px;
      //vertical-align: middle;
    }
    tbody {
      tr {
        box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
      }
      td {
        border: none;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        background-color: $white-lighten;
        @media screen and (min-width: $screen-lg-min)  {
          padding: 20px;
        }
        &:nth-child(3), &:last-child {
          background-color: #f8f8f8;
        }
        &:nth-child(2) {
          text-align: left;
        }
      }
    }
    tfoot {
      td {
        border: none;
        padding: 10px;
        vertical-align: middle;
        @media screen and (min-width: $screen-lg-min)  {
          padding: 20px;
        }
        background-color: #ffffff;
        &:last-child {
          text-align: center;
        }
      }
      tr:first-child {
        td:first-child {
          background-color: #f4f4f4;
        }
      }
      tr:last-child {
        td {
          background-color: #f6f6f6;
          box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
        }
      }
    }
  }
}


.alert {
  position: relative;
  margin-bottom: 20px;
  &--danger {
    color: $white-lighten;
    padding: 15px 20px;
    background-color: #f1aaa4;
  }
  &-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}