//
// Pages -> Shares
// ------------------------------------


.shares {
//  .partners__item-img {
//    text-align: left;
//  }
  .partners__item--list + .partners__item--list {
    margin-top: 20px;
  }
  &-item {
    &__body {
      margin-bottom: 40px;
      padding: 15px;
      background-color: #ffffff;
          @media screen and (min-width: $screen-md-min) {
            padding: 30px;
          }
      p {
        margin-bottom: 30px;
      }
    }
    &__counter {
      font-size: 0;
      &-item {
        display: inline-block;
        vertical-align: top;
        font-size: $base-font-size;
        h3 {
          display: inline-block;
          margin-bottom: 15px;
        }
        .num {
          @extend h1;
          margin-top: 16px;
          height: 50px;
          text-align: center;
          background-color: #f4f4f4;
        }
      }
    }
  }
}

.sidebar-shares {
  .partners__item-img {
    padding: 0;
    line-height: 1;
    position: relative;
  }
  &__item {
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 17px 32px rgba(44, 44, 44, 0.08);
    background-color: #ffffff;
  }
  &__desc {
    padding: 10px 20px 20px;
  }
}
