footer.page-footer
    .container
        .is-row
            .is-col.is-col__md-3.is-col__xs-12
                .page-footer__logo.hidden__sm.hidden__xs
                    a(href='#'): img(src="images/logo-main.png", alt="")
                    span.slogan 18+
                .page-footer__social 
                  ul.list--inline
                    li: a(href="#"): i.is-icons.is-icons--vk
                    li: a(href="#"): i.is-icons.is-icons--google
                    li: a(href="#"): i.is-icons.is-icons--tw
                    li: a(href="#"): i.is-icons.is-icons--fa
                    li: a(href="#"): i.is-icons.is-icons--youtube
                    li: a(href="#"): i.is-icons.is-icons--odn
                .page-footer__copyright.hidden__xs.hidden__sm © GOR, 2015
            .is-col.is-col__md-3.is-col__xs-12
                ul.list--unstyled.navigation
                    li.page-footer__toggle.footer-nav__toggle--js: b.text--uppercase Объявления
                    li: a(href="#") Что такое «Объявления»
                    li: a(href="#") Как подать объявление?
                    li: a(href="#") Партнеры
                    li: a(href="#") О нас
            .is-col.is-col__md-3.is-col__xs-12
                ul.list--unstyled.navigation
                    li.page-footer__toggle.footer-nav__toggle--js: b.text--uppercase УЧАСТНИКАМ
                    li: a(href="#") Оферта
                    li: a(href="#") Выделить объявление
                    li: a(href="#") Правила заказа
                    li: a(href="#") Правила доставки
                    li: a(href="#") Правила оплаты
            .is-col.is-col__md-3.is-col__xs-12
                ul.list--unstyled.navigation
                    li.page-footer__toggle.footer-nav__toggle--js: b.text--uppercase ПАРТНЕРАМ
                    li: a(href="#") Полезная информация
                    li: a(href="#") Партнерские программы
                    li: a(href="#") Стать партнером
                    li: a(href="#") Вакансии
                    li: a(href="#") Контакты
            .is-col.is-col__xs-12.visible__xs.visible__sm
                ul.list--unstyled.margtop20
                    li: a.text--info(href="#") Политика безопасности
                    li: a.text--info(href="#") Правила пользования сайтом
                    li: a.text--info(href="#") Карта сайта
                .page-footer__copyright.margtop20 © GOR, 2015 #[br] Все права защищены
