header.header
    .header-top
        .container
            .header-top__inner
                .is-col__lg-8.is-col__md-9.is-col__xs-7.header-top__col
                    .isnot-scrolled
                        .header-top__location.header-top__item
                            a.popup(href="#city-id")
                                i.is-icons.is-icons--location
                                span Иваново
                    .is-scrolled
                        .header-top__menubar.main-nav__toggle--js
                            .tip.tip--danger 24
                            i.is-icons.is-icons--menubar
                        .header-top__logo.header-top__item
                            a.is-icons.is-icons--top-logo(href="/")
                        .header-top__menu.header-top__item
                            .mobile-links
                                a.mobile-links__item(href="#")
                                    i.is-icons.is-icons--feedback
                                    | Личный кабинет
                                a.mobile-links__item(href="#")
                                    i.is-icons.is-icons--feedback
                                    | Обратная связь
                            +menu(topnavigation)
                .is-col__lg-4.is-col__md-3.is-col__xs-5.header-top__col.text--right
                    .header-search.header-top__item
                        a.header-search--js(href="#"): i.is-icons.is-icons--search
                        .header-search__body
                            .header-search__close.header-search__close--js: i.is-icons.is-icons--close-w
                            input.control(type="search", placeholder="Поиск")
                            button.btn(type="submit"): i.is-icons.is-icons--search
                    .header-top__loc.header-top__item.is-scrolled: a.popup(href="#map-id"): i.is-icons.is-icons--location
                    .header-top__reg.header-top__item
                        if title == 'Main'
                          // unauthorized
                          .visible__lg
                            a.btn.btn--well.btn__xs(href="#") Вход / Регистрация
                          .hidden__lg
                              a(href="#")
                                  .user-text Войти
                                  i.is-icons.is-icons--mobile-user
                        else
                          // authorized
                          .visible__lg
                              a.btn.btn--default.btn__xs(href="#")
                                  span.tip.tip--danger 12
                                  | Личный кабинет
                              .ava: img(src="images/ava.jpg", alt="")
                          .hidden__lg
                               a(href="#")
                                    .user-text Выйти
                                    i.is-icons.is-icons--mobile-user
    if title !== 'Кабинет'
        .header-bottom
            .container
                .header-bottom__inner
                  .header-bottom__col.is-col__md-3.is-col__xs-12
                    .header__logo
                        a(href="/")
                            img(src="images/logo-main.png", alt="Company ltd.")
                  .header-bottom__col.is-col__md-7.hidden__sm.hidden__xs
                    include ../components/_navbar
                  .header-bottom__col.is-col__md-2.hidden__sm.hidden__xs
                    .header__link
                        a.text--info(href="/")
                            img(src="images/menu-img.png", alt="")
                            span Как потратить
