//
// Mixins -> Modules
// ------------------------------------


//
// border-radius
//
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

//
// padding / margin
//
@mixin padtop($top) {
  padding-top: $top;
}
@mixin padbot($bottom) {
  padding-bottom: $bottom;
}
@mixin margright($right) {
  margin-right: $right;
}
@mixin margbot($bottom) {
  margin-bottom: $bottom;
}
@mixin margtop($top) {
  margin-top: $top;
}


//
// responsive utilities
//
@mixin responsive-visibility($parent) {

  @if $use-flexbox == true {
    #{$parent} {
      display: flex;
    }
  } @else {
    #{$parent} {
      display: block;
    }
  }
}
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none;
  }
}