$icons: (
	  sprite: (width: 471px, height: 448px, svgPath: '../images/svg/sprite.svg'),
 	arrow-down: (width: 13px, height: 7px, backgroundX: -371px, backgroundY: -149px),
 	arrow-left: (width: 7px, height: 13px, backgroundX: -333px, backgroundY: -149px),
 	arrow-right: (width: 7px, height: 13px, backgroundX: -352px, backgroundY: -149px),
 	arrow-up: (width: 13px, height: 7px, backgroundX: -440px, backgroundY: -391px),
 	aside_ico: (width: 23px, height: 17px, backgroundX: -241px, backgroundY: -226px),
 	big-cart: (width: 36px, height: 36px, backgroundX: -139px, backgroundY: -288px),
 	blog-ico: (width: 20px, height: 20px, backgroundX: -219.2px, backgroundY: -378px),
 	blog-ico-1: (width: 20px, height: 20px, backgroundX: -155.2px, backgroundY: -378px),
 	blog-photo: (width: 20px, height: 16px, backgroundX: -359.3px, backgroundY: -338px),
 	card: (width: 22px, height: 15px, backgroundX: -276px, backgroundY: -226px),
 	cart: (width: 21px, height: 20px, backgroundX: -122.2px, backgroundY: -378px),
 	cart-w: (width: 20px, height: 18.7px, backgroundX: -315.2px, backgroundY: -378px),
 	change-ava: (width: 20.200000000000003px, height: 20.200000000000003px, backgroundX: -32.2px, backgroundY: -415px),
 	close: (width: 17px, height: 17px, backgroundX: -440px, backgroundY: -250px),
 	close-w: (width: 17px, height: 17px, backgroundX: -440px, backgroundY: -221px),
 	close-w2: (width: 7.5px, height: 7.5px, backgroundX: -334px, backgroundY: -226px),
 	cocktail: (width: 25px, height: 24px, backgroundX: -117px, backgroundY: -338px),
 	coins: (width: 18px, height: 18px, backgroundX: -440px, backgroundY: -191px),
 	coins-b: (width: 28px, height: 28px, backgroundX: -394px, backgroundY: -288px),
 	coins-r: (width: 18px, height: 18px, backgroundX: -440px, backgroundY: -161px),
 	edit-data: (width: 20.200000000000003px, height: 20.200000000000003px, backgroundX: 0px, backgroundY: -415px),
 	exit: (width: 17px, height: 20px, backgroundX: -440px, backgroundY: -98px),
 	fa-icon: (width: 28px, height: 29px, backgroundX: -234px, backgroundY: -288px),
 	feedback: (width: 35px, height: 34px, backgroundX: -187px, backgroundY: -288px),
 	google-icon: (width: 28px, height: 28px, backgroundX: -274px, backgroundY: -288px),
 	help: (width: 21px, height: 22px, backgroundX: -89.2px, backgroundY: -378px),
 	ico-menu: (width: 23px, height: 21px, backgroundX: -223px, backgroundY: -338px),
 	icons_main_about-city: (width: 52px, height: 39px, backgroundX: -256px, backgroundY: -175px),
 	icons_main_action: (width: 52px, height: 39px, backgroundX: -192px, backgroundY: -175px),
 	icons_main_lucky: (width: 52px, height: 39px, backgroundX: -128px, backgroundY: -175px),
 	icons_main_pairs: (width: 52px, height: 39px, backgroundX: 0px, backgroundY: -175px),
 	icons_main_store: (width: 52px, height: 39px, backgroundX: -64px, backgroundY: -175px),
 	lan-nav-1: (width: 38px, height: 38px, backgroundX: -89px, backgroundY: -288px),
 	lan-nav-2: (width: 44px, height: 31px, backgroundX: -376.39px, backgroundY: -175px),
 	lan-nav-3: (width: 25px, height: 38px, backgroundX: -52px, backgroundY: -288px),
 	lan-nav-4: (width: 39px, height: 27px, backgroundX: -112px, backgroundY: -226px),
 	list-block: (width: 16px, height: 16px, backgroundX: -440px, backgroundY: -279px),
 	list-block-b: (width: 16px, height: 16px, backgroundX: -440px, backgroundY: -335px),
 	location: (width: 14.2px, height: 22.200000000000003px, backgroundX: -37px, backgroundY: -378px),
 	location-b: (width: 14px, height: 22px, backgroundX: -63.2px, backgroundY: -378px),
 	lp-saph: (width: 44px, height: 32px, backgroundX: -56px, backgroundY: -226px),
 	lp-sherif: (width: 44.39px, height: 38.2px, backgroundX: -320px, backgroundY: -175px),
 	lp-star: (width: 44px, height: 50px, backgroundX: 0px, backgroundY: -226px),
 	lp-stat-1: (width: 126px, height: 163px, backgroundX: 0px, backgroundY: 0px),
 	lp-stat-2: (width: 125px, height: 161px, backgroundX: -138px, backgroundY: 0px),
 	lp-stat-3: (width: 153px, height: 137px, backgroundX: -275px, backgroundY: 0px),
 	lp-triangle: (width: 25px, height: 27px, backgroundX: -80px, backgroundY: -338px),
 	menubar: (width: 24px, height: 21px, backgroundX: -187px, backgroundY: -338px),
 	mobile-user: (width: 19px, height: 19px, backgroundX: -440px, backgroundY: -130px),
 	mouse: (width: 25px, height: 25px, backgroundX: 0px, backgroundY: -378px),
 	music: (width: 21px, height: 24px, backgroundX: -154px, backgroundY: -338px),
 	odn-icon: (width: 28px, height: 28px, backgroundX: 0px, backgroundY: -338px),
 	okey: (width: 14px, height: 13px, backgroundX: -307px, backgroundY: -149px),
 	photo: (width: 21px, height: 16px, backgroundX: -326.3px, backgroundY: -338px),
 	question: (width: 20px, height: 20px, backgroundX: -251.2px, backgroundY: -378px),
 	question-b: (width: 20px, height: 20px, backgroundX: -283.2px, backgroundY: -378px),
 	radiobutton: (width: 12px, height: 12px, backgroundX: -310px, backgroundY: -226px),
 	reload: (width: 40px, height: 38px, backgroundX: 0px, backgroundY: -288px),
 	reload-sm: (width: 22px, height: 20px, backgroundX: -292.3px, backgroundY: -338px),
 	search: (width: 19px, height: 21px, backgroundX: -440px, backgroundY: 0px),
 	search-bl: (width: 19px, height: 21px, backgroundX: -440px, backgroundY: -33px),
 	shares: (width: 22.299999999999997px, height: 20.299999999999997px, backgroundX: -258px, backgroundY: -338px),
 	top-logo: (width: 27px, height: 25px, backgroundX: -163px, backgroundY: -226px),
 	tw-icon: (width: 28px, height: 28px, backgroundX: -314px, backgroundY: -288px),
 	video: (width: 20px, height: 14px, backgroundX: -275px, backgroundY: -149px),
 	view-list: (width: 16px, height: 16px, backgroundX: -440px, backgroundY: -363px),
 	view-map: (width: 14px, height: 20px, backgroundX: -440px, backgroundY: -66px),
 	view-standart: (width: 16px, height: 16px, backgroundX: -440px, backgroundY: -307px),
 	vk-icon: (width: 28px, height: 28px, backgroundX: -40px, backgroundY: -338px),
 	wi-fi: (width: 27px, height: 20px, backgroundX: -202px, backgroundY: -226px),
 	youtube-icon: (width: 28px, height: 28px, backgroundX: -354px, backgroundY: -288px),
 	zoom: (width: 20px, height: 20px, backgroundX: -187.2px, backgroundY: -378px),
);
