//
// Variables


//- Variables -> Base
$base-font-family:                    "Open Sans", Arial, sans-serif !default;
$base-font-family-mono:               "Open Sans Condensed", sans-serif !default;
$base-font-size:                      15px !default;
$base-font-weight:                    400 !default;
$base-line-height:                    1.4 !default;
$base-color:                          $base-color-main !default;
$base-background:                     #f4f4f4 !default;
$base-padding:                        8px;
 
//- Link
$link-color:                          $base-color;
$link-hover-color:                    $color-type-1a;
$link-decoration:                     underline;

$hover-shadow:                        0px 0px 25px 0px rgba(0,0,0,0.5);
//- Variables -> Typography
$font-size-large:                     ceil(($base-font-size * 1.25)) !default; // ~18px
$font-size-medium:                    ceil(($base-font-size * 1)) !default; // ~16px
$font-size-small:                     ceil(($base-font-size * 0.9)) !default; // ~14px
$font-size-tiny:                      ceil(($base-font-size * 0.8125)) !default; // ~13px

$font-size-h1:                        floor(($base-font-size * 2.4)); // ~36px
$font-size-h2:                        floor(($base-font-size * 2)); // ~30px
$font-size-h3:                        floor(($base-font-size * 1.6)); // ~24px
$font-size-h4:                        $base-font-size; // ~15px
$font-size-h5:                        ceil(($base-font-size * 1.6)); // ~24px
$font-size-h6:                        ceil(($base-font-size * 0.85)); // ~12px

$line-height-computed:                floor(($base-font-size * $base-line-height)); // ~22px
$line-height-computed-half:           floor(($base-font-size * $base-line-height) / 2); // ~11px

$headings-font-family:                inherit !default;
$headings-font-weight:                700 !default;
$headings-line-height:                1.4 !default;
$headings-color:                      inherit !default;


//- Grid
$screen-sm:                           480px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           768px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-lg:                           1010px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xl:                           1200px;
$screen-xl-min:                       $screen-xl;
$screen-xl-desktop:                   $screen-xl-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;
$screen-lg-max:                       ($screen-xl-min - 1) !default;

$screen-adaptive-nav:                 $screen-md-min;

//- Number of columns in the grid system
$grid-columns:                        12;
$grid-gutter-width:                   18px;
$grid-gutter-width-md:                18px;


//- Small screen / tablet
$container-mobile:                    (440px + $grid-gutter-width);
$container-sm:                        $container-mobile;

//- Small screen / tablet
$container-tablet:                    (720px + $grid-gutter-width);
$container-md:                        $container-tablet;

//- Medium screen / desktop
$container-desktop:                   (990px + $grid-gutter-width);
$container-lg:                        $container-desktop;

//- Large screen / wide desktop
$container-large-desktop:             (990px + $grid-gutter-width);
$container-xl:                        $container-large-desktop;

//- Btn
$btn-font-weight:                     700;

$btn-default-color:                   #fff !default;
$btn-default-bg:                      #353535 !default;
$btn-default-border:                  #353535 !default;

$btn-primary-color:                   #fff !default;
$btn-primary-bg:                      $base-color-main !default;
$btn-primary-border:                  $btn-primary-bg !default;

$btn-success-color:                   #fff !default;
$btn-success-bg:                      $color-type-4a !default;
$btn-success-border:                  $btn-success-bg !default;

$btn-info-color:                      #fff !default;
$btn-info-bg:                         $color-type-1a !default;
$btn-info-border:                     $btn-info-bg !default;

$btn-warning-color:                   #aa8c37 !default;
$btn-warning-bg:                      $color-type-3a !default;
$btn-warning-border:                  $btn-warning-bg !default;

$btn-danger-color:                    #fff !default;
$btn-danger-bg:                       $color-type-2a !default;
$btn-danger-border:                   $btn-danger-bg !default;

$btn-outlined-color:                  $base-color-main !default;
$btn-outlined-bg:                     $white-lighten !default;
$btn-outlined-border:                 $color-type-4a !default;

$btn-well-color:                      $color-type-6a !default;
$btn-well-bg:                         $base-color !default;
$btn-well-border:                     $color-type-6a !default;

$btn-grey-color:                      #fff !default;
$btn-grey-bg:                         #b7b7b7 !default;
$btn-grey-border:                     #b7b7b7 !default;

$btn-white-color:                      #000 !default;
$btn-white-bg:                         #fff !default;
$btn-white-border:                     $btn-white-bg !default;


//- Padding
$padding-base-vertical:               15px;
$padding-base-horizontal:             20px;

$padding-large-vertical:              10px;
$padding-large-horizontal:            16px;

$padding-small-vertical:              5px;
$padding-small-horizontal:            10px;

$padding-tiny-vertical:               1px;
$padding-tiny-horizontal:             20px;

$line-height-large:                   1.3333333;
$line-height-small:                   1.5;
$line-height-tiny:                    1.2;
$line-height-btn:                     1.8333333;

$border-radius-base:                  0;
$border-radius-large:                 0;
$border-radius-small:                 0;

$btn-border-radius-base:              $border-radius-base;
$btn-border-radius-large:             $border-radius-large;
$btn-border-radius-small:             $border-radius-small;


// Type
$blockquote-small-color:              $gray-darken-2;
$blockquote-font-size:                ($base-font-size * 1.4705);
$blockquote-border-color:             $gray-darken-1;


//- Breadcrumbs
$breadcrumb-padding-vertical:         8px;
$breadcrumb-padding-horizontal:       23px;
$breadcrumb-bg:                       #f5f5f5;
$breadcrumb-color:                    #bfbfbf;
$breadcrumb-active-color:             $color-type-1a;
$breadcrumb-separator:                "/";


//- Pagination
$pagination-color:                     $link-color;
$pagination-bg:                        #fff;
$pagination-border:                    #ddd;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  #fcfcfc;
$pagination-hover-border:              transparent;

$pagination-active-color:              #000;
$pagination-active-bg:                 #fcfcfc;
$pagination-active-border:             transparent;



//- Pager
$pager-bg:                            $pagination-bg;
$pager-border:                        #cad3df;
$pager-border-radius:                 15px;
$pager-hover-bg:                      $pagination-hover-bg;
$pager-hover-color:                   $pagination-hover-color;
$pager-active-bg:                     $pagination-active-bg;
$pager-active-color:                  $pagination-active-color;


//- Accordion
$accordion-padding-vertical:         8px;
$accordion-padding-horizontal:       15px;
$accordion-bg:                       transparent;
$accordion-color:                    #333;
$accordion-active-color:             $gray-darken-2;

//- Tables
$table-cell-padding:                  8px;
$table-condensed-cell-padding:        5px;

$table-bg:                            transparent;
$table-bg-accent:                     #f9f9f9;

$table-bg-hover:                      #f5f5f5;
$table-bg-active:                     $table-bg-hover;

$table-border-color:                  #cad3df;


//- Navbar
$navbar-height:                       50px;
$navbar-margin-bottom:                $line-height-computed;
$navbar-border-radius:                $border-radius-base;
$navbar-padding-horizontal:           floor(($grid-gutter-width / 2));
$navbar-padding-vertical:             (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:          340px;

$navbar-default-color:                #2c2c2c;
$navbar-default-bg:                   #fff;
$navbar-default-border:               #fff;

//- Navbar toggle
$navbar-default-toggle-hover-bg:      #ddd;
$navbar-default-toggle-icon-bar-bg:   #888;
$navbar-default-toggle-border-color:  #ddd;

//- Navbar links
$navbar-default-link-color:           #777;
$navbar-default-link-hover-color:     #333;
$navbar-default-link-hover-bg:        transparent;
$navbar-default-link-active-color:    #555;
$navbar-default-link-active-bg:       darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;


//- Navs
$nav-link-padding:                     5px;
$nav-link-hover-bg:                    $color-type-3a;
$subnav-link-hover-bg:                 $color-type-3b;

$nav-tabs-active-link-hover-bg:        $base-background;
$nav-tabs-active-link-hover-color:     $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;


$close-font-weight:                    bold !default;
$close-color:                          #000 !default;
$close-text-shadow:                    none !default;


//- Form states and table
$input-bg:                             #f7f7f7 !default;
$input-bg-disabled:                    $gray-lighten !default;

$input-color:                          $base-color-main !default;
$input-border:                         transparent !default;

$input-border-radius:                  $border-radius-base !default;
$input-border-radius-large:            $border-radius-large !default;
$input-border-radius-small:            $border-radius-small !default;

$input-border-focus:                   $color-type-4a !default;
$input-color-placeholder:              #999 !default;

$input-height-base:                    ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:                   (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:                   (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:                 #f7f7f7 !default;
$input-group-addon-border-color:       $input-border !default;


$state-primary-text:                   $base-color-main !default;
$state-primary-bg:                     $base-color-main !default;
$state-primary-border:                 darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:                   $color-type-4a !default;
$state-success-bg:                     $color-type-4a !default;
$state-success-border:                 darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                      $color-type-1a !default;
$state-info-bg:                        $color-type-1a !default;
$state-info-border:                    darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                   $color-type-3a !default;
$state-warning-bg:                     $color-type-3a !default;
$state-warning-border:                 darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:                    $color-type-2a !default;
$state-danger-bg:                      $color-type-2a !default;
$state-danger-border:                  darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:             15px !default;

$legend-color:                         $black !default;
$legend-border-color:                  #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                      not-allowed;

//-- Z-index master list
$zindex-navbar:                        1000;
$zindex-navbar-fixed:                  1030;
$zindex-modal-background:              1040;
$zindex-modal:                         1050;



// Variables -> Components

// Navbar


// Variables -> Partials

// Header


// Variables -> Pages

// Home
