main.page-index
  .container
    section.action.shares-item
      include ../components/_breadcrumbs
      .tags-title
        h1= title
        .tags-item: a.btn.btn--info(href="#") Рестораны
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.pulled-right
          .sidebar-menu-title
            i.is-icons.is-icons--question
            span О партнере
          .sidebar-shares__item
            .partners__item-img
                img(src="images/action.png", alt="")
            .sidebar-shares__desc
              h4 Black/White #[br] 2 строчка названия #[br] 3 если надо
              p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
          ul.accordion.accordion--once
            li.accordion-inner
              .accordion-title-js.active
                .accordion-title
                  b Контакты
                  i
                .accordion-item.accordion-item-js.active
                  .accordion-item__inner
                    p Телефоны: #[br] +7 4932 93-00-00
                    a(href="#") gor.ru
            li.accordion-inner
              .accordion-title-js.active
                .accordion-title
                  b На карте
                  i
                .accordion-item.accordion-item-js.active
                  .accordion-item__inner
                    p Адрес: #[br] Ulica Slobode 14, Светой Стефан, Черногория
                  img(src="images/map-sm.jpg", alt="")
            li.accordion-inner
              .accordion-title-js.active
                .accordion-title
                  b Фотографии
                  i
                .accordion-item.accordion-item-js.active
                  .sidebar-slider
                    - for (var i =1; i < 3; i++)
                      img(src="images/photo.jpg", alt="")
                  .slider-arrow
                    .slider-arrow-left
                    .slider-arrow-right
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .shares-item__body
            h2.sec-title Каждый четверг Happy Hour в Garden Cafe
            p: img(src="images/action-img.jpg", alt="")
            p Весеннее равноденствие, оценивая блеск освещенного металического шарика, дает первоначальный керн, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Зенитное часовое число ничтожно колеблет Юпитер. Полнолуние потенциально. Весеннее равноденствие, на первый взгляд, последовательно меняет космический мусор.
            p Каждый четверг! В Garden Cafe! C 21:30 до 22.30 ВСЕ напитки со скидкой 50%!  Вы когда-нибудь пробовали Long Island, Mojito, Pino Colada или Ваш любимый напиток на 50%
            span.text--default Дата публикации 07.12.2015
          .shares-inner
            .title
              .title-item
                h2.sec-title Предложения партнеров
              .title-item.text--right
                a(href="#") Все предложения
            .is-row
              .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                .partners__item
                  .partners__item-img.partners__item-img--nopad
                    .data-date до 31.12.2015
                    .data-link: a(href="#") подробнее
                    .data-sale
                      | Скидки до
                      span 50%
                    .afisha__item-shadow
                    a(href="#"): img(src='images/partners-1.jpg', alt="")
                  .partners__item-desc
                    h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                    p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                  .partners__item-tag
                    a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
              .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                .partners__item
                  .partners__item-img.partners__item-img--nopad
                    .data-date до 31.12.2015
                    .data-link: a(href="#") подробнее
                    .afisha__item-shadow
                    a(href="#"): img(src='images/partners-2.jpg', alt="")
                  .partners__item-desc
                    h4: a(href="#") Black/White #[br] 2 строчка названия
                    p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                  .partners__item-tag
                    a.btn.btn--full.btn--success(href="#") Здоровье и красота
              .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                .partners__item
                  .partners__item-img.partners__item-img--nopad
                    .data-date до 31.12.2015
                    .data-link: a(href="#") подробнее
                    .afisha__item-shadow
                    a(href="#"): img(src='images/partners-4.jpg', alt="")
                  .partners__item-desc
                    h4: a(href="#") Black/White #[br] 2 строчка названия
                    p Hатpиевые атомы предварительно были замечены с центром комет
                  .partners__item-tag
                    a.btn.btn--full.btn--warning(href="#") Транспорт
