main.page-index
  .container
    section.catalog
      include ../components/_breadcrumbs
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
          h1= title
          include ../components/_filter
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .tags
          .tabs
            .sort
              .is-row
                .is-col.is-col__lg-8.is-col__md-7.sort__item
                  a.sort__item-link.active(href="#") Партнеры
                  a.sort__item-link(href="#") Сначала новые
                  a.sort__item-link(href="#") Сначала популярные
                .is-col.is-col__lg-4.is-col__md-5.sort__item
                  ul.tabs__caption.tabs__caption--js
                    li.active
                      i.icon-view-list
                      | Списком
                    li
                      i.icon-view-map
                      | На карте
            .tabs__content.active
              .is-row.is-row
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .data-sale
                        | Скидки до
                        span 50%
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-1.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                      p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                    .partners__item-tag
                      a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-2.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-4.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Hатpиевые атомы предварительно были замечены с центром комет
                    .partners__item-tag
                      a.btn.btn--full.btn--warning(href="#") Транспорт
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-5.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White
                      p С потрясающим видом на что-то еще
                    .partners__item-tag
                      a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .data-sale
                        | Скидки до
                        span 50%
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-6.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--danger(href="#") Магазины
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-7.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Hатpиевые атомы предварительно были замечены с центром комет
                    .partners__item-tag
                      a.btn.btn--full.btn--warning(href="#") Транспорт
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .data-sale
                        | Скидки до
                        span 20%
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-8.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                      p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                    .partners__item-tag
                      a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-9.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-23.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--danger(href="#") Магазины
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-24.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                      p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                    .partners__item-tag
                      a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-25.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img.partners__item-img--nopad
                      .data-date до 31.12.2015
                      .data-link: a(href="#") подробнее
                      .data-sale
                        | Скидки до
                        span 50%
                      .afisha__item-shadow
                      a(href="#"): img(src='images/partners-26.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--danger(href="#") Магазины
              include ../components/_paginator
            .tabs__content
              h3 На карте
