main.page-index
  .container
    section.auth
      include ../components/_breadcrumbs
      h1= title
      ul.cabinet-menubar.cabinet-menubar--null
        li
          a(href="#")
            i.icon-reg
            | Регистрация
        li.active
          a(href="#")
            i.icon-auth
            | Войти
      .settings
        .settings-body.settings-body--form
          form(action="", method="post")
            +fieldInputCols('text', 'name', 'Номер карты/телефона', '+7 915 999 666 3', false)
            +fieldInputCols('password', 'pass', 'Пароль', 'Керр', false)
            .group
              .group__item.is-col__md-4.is-col__xs-12
              .group__item.is-col__md-8.is-col__xs-12
                .checkbox
                  input(type="checkbox", id="che3", checked)
                  label(for="che3") Запомнить меня
            .group.margtop30
              .group__item.is-col__md-4.is-col__xs-12
              .group__item.is-col__md-5.is-col__xs-12
                button.btn.btn--success.btn--full(type="submit") Зарегистрироваться