main.page-index
  .container
    section.blog
      include ../components/_breadcrumbs
      h1= title
      .is-row
        aside.is-col.is-col__lg-3.is-col__xs-12.hidden__md.pulled-right
          .aside
            .aside-mobile.aside-mobile--js
                .inner: i.is-icons.is-icons--aside_ico
            .aside-inner 
              .sidebar-menu 
                .sidebar-menu-title
                  i.is-icons.is-icons--ico-menu
                  span О городе
                ul.sidebar-menu-body
                  li: a.menu-title(href="#") СЕЗОНЫ В Иваново
                    ul
                      li: a(href="#") Весна
                      li: a(href="#") Лето
                      li: a(href="#") Осень
                      li: a(href="#") Зима
                      li: a(href="#") Межсезонье
                      li: a(href="#") еще
                  li: a.menu-title(href="#") КУРОРТЫ
                    ul
                      li: a(href="#") Будванская Ривьера
                      li: a(href="#") Будва
                      li: a(href="#") Петровац
                      li: a(href="#") Которская Ривьера
                      li: a(href="#") Рисан
                      li: a(href="#") Пераст
                      li: a(href="#") Котор
                      li: a(href="#") Тиватская Ривьера
                      li: a(href="#") Тиват
                      li: a(href="#") Полуостров Луштица
                      li: a(href="#") Херцегновская Ривьера
                      li: a(href="#") Херцег Нови
                      li: a(href="#") Барская Ривьера
                      li: a(href="#") Бар
                      li: a(href="#") Улцинская Ривьера
                      li: a(href="#") Улцинь
                  li: a.menu-title(href="#") НАЦИОНАЛЬНЫЕ ПАРКИ
                    ul
                      li: a(href="#") Скадарское озеро
                      li: a(href="#") Дурмитор
                      li: a(href="#") Биоградска гора
                      li: a(href="#") Ловчен
                  li: a.menu-title(href="#") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                    ul
                      li: a(href="#") Цетинье
        .is-col.is-col__lg-9.is-col__xs-12
          .blog-inner
            +blog-item(blogItems) 
          include ../components/_paginator
