main.page-index
  .container
    section.blog-item
      include ../components/_breadcrumbs
      h1= title
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.pulled-right
          .aside
            .aside-mobile.aside-mobile--js
                .inner: i.is-icons.is-icons--aside_ico
            .aside-inner 
              .sidebar-menu
                .sidebar-menu-title
                  i.is-icons.is-icons--ico-menu
                  span Ваш гид
                ul.sidebar-menu-body
                  li: a.menu-title(href="#") СЕЗОНЫ В Иваново
                    ul
                      li: a(href="#") Весна
                      li: a(href="#") Лето
                      li: a(href="#") Осень
                      li: a(href="#") Зима
                      li: a(href="#") Межсезонье
                      li: a(href="#") еще
                  li: a.menu-title(href="#") КУРОРТЫ
                    ul
                      li: a(href="#") Будванская Ривьера
                      li: a(href="#") Будва
                      li: a(href="#") Петровац
                      li: a(href="#") Которская Ривьера
                      li: a(href="#") Рисан
                      li: a(href="#") Пераст
                      li: a(href="#") Котор
                      li: a(href="#") Тиватская Ривьера
                      li: a(href="#") Тиват
                      li: a(href="#") Полуостров Луштица
                      li: a(href="#") Херцегновская Ривьера
                      li: a(href="#") Херцег Нови
                      li: a(href="#") Барская Ривьера
                      li: a(href="#") Бар
                      li: a(href="#") Улцинская Ривьера
                      li: a(href="#") Улцинь
                  li: a.menu-title(href="#") НАЦИОНАЛЬНЫЕ ПАРКИ
                    ul
                      li: a(href="#") Скадарское озеро
                      li: a(href="#") Дурмитор
                      li: a(href="#") Биоградска гора
                      li: a(href="#") Ловчен
                  li: a.menu-title(href="#") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                    ul
                      li: a(href="#") Цетинье
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .blog-item__body
            .blog-item__slider
              .tabs
                ul.tips.tabs__caption--js
                  li.active.tips__item
                      i.is-icons.is-icons--blog-photo
                  li.tips__item
                      i.is-icons.is-icons--video
                .tabs__content.active
                  .blog-slider.popup-gallery
                    - for (var i = 1; i < 4; i++)
                      .item
                        a.zoom(href="images/blog-slide.jpg")
                          i.is-icons.is-icons--zoom
                          span Увеличить
                        .shadow
                        a(href="images/blog-slide.jpg"): img(src="images/blog-slide.jpg", alt="")
                .tabs__content
                  iframe(height="380", src="https://www.youtube.com/embed/M-XtB0R3ri4", frameborder="0", allowfullscreen, style="width: 100%")
            p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".
            p Сарос слабопроницаем. Экскадрилья, в первом приближении, вызывает первоначальный реликтовый ледник. Азимут, следуя пионерской работе Эдвина Хаббла, точно перечеркивает непреложный лимб. Южный Треугольник интуитивно понятен. Параллакс неравномерен. Уравнение времени гасит близкий математический горизонт.
            p Перигелий однородно решает восход . Эксцентриситет оценивает большой круг небесной сферы, при этом плотность Вселенной в 3 * 10 в 18-й степени раз меньше, с учетом некоторой неизвестной добавки скрытой массы. Прямое восхождение на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), представляет собой маятник Фуко, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Различное расположение однородно гасит центральный тропический год, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. После того как тема сформулирована, эфемерида перечеркивает терминатор.
            p: img(src="images/map.jpg", alt="")
            p Прямое восхождение на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), представляет собой
            span.text--default Дата публикации 13.12.2015
          .blog-inner
            .title
              .title-item
                h2.sec-title Ваш гид по Иванову
              .title-item.text--right
                a(href="#") Все статьи
            .blog__item
              .blog__item-left.is-col__md-4.is-col__xs-12
                a(href="#").blog__item-img
                  img(src="images/blog-5.jpg", alt="")
              .blog__item-desc.is-col__md-8.is-col__xs-12
                .blog__item-title
                  .pulled-left
                    h3 Херцег Нови
                  .pulled-right
                    a(href="#") подробнее
                p Цветущий город Херцег-Нови расположился на берегу Боко-Которского залива Адриатического моря у подножия горы Орьен. Это фактически крайний большой город на западе Черногории, недалеко от границы с Хорватией. Курортный город привлекает разнообразием своих красок, вдоль всего побережья растет огромное количество цветущих деревьев и кустарников.
            .blog__item
              .blog__item-left.is-col__md-4.is-col__xs-12
                a(href="#").blog__item-img
                  img(src="images/blog-6.jpg", alt="")
              .blog__item-desc.is-col__md-8.is-col__xs-12
                .blog__item-title
                  .pulled-left
                    h3 Тиват
                  .pulled-right
                    a(href="#") подробнее
                p Город Тиват (Tivat) расположился на берегу Боко-Которской бухты побережья Адриатического моря, на полуострове Врмац. Безумно тихий и уютный городок, расположенный практически на равниной местности, который идеально подойдет для отдыха с маленькими детьми.
            .blog__item
              .blog__item-left.is-col__md-4.is-col__xs-12
                a(href="#").blog__item-img
                  img(src="images/blog-7.jpg", alt="")
              .blog__item-desc.is-col__md-8.is-col__xs-12
                .blog__item-title
                  .pulled-left
                    h3 Петровац
                  .pulled-right
                    a(href="#") подробнее
                p Петровац – один из туристических городов Будванской Ривьеры, находящийся в зарослях оливковых и хвойных деревьев. В черте города Петровац располагается всего два пляжа, общая протяженность которых составляет 600 метров. Этот город также идеален для спокойного отдыха, вдали от всех ночных развлечений Будвы.