main.page-index
    .container
        section.cabinet
            include ../components/_breadcrumbs
            .is-row
                aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
                    include ../components/_card-aside
                .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
                    include ../components/_card-top
                    .tabs
                        ul.cabinet-menubar.tabs__caption--js
                            li.active
                                | Новости
                                .tip.tip--danger 19
                            li Транзакции
                            li
                                | Уведомления
                                .tip.tip--danger 5
                            li Настройки
                        .tabs__content.active
                            .blog-inner
                                +blog-item(newsItems)
                                .advert
                                    p.text__xs реклама
                                    a(href="#"): img(src="images/banner.jpg", alt="")
                                +blog-item(newsItems2)
                                include ../components/_paginator
                        .tabs__content
                            ul.accordion.accordion--once
                                li.accordion-inner
                                    .accordion-title-js.active
                                        .accordion-title.accordion-title--table.accordion-title--lg
                                            b История транзакций
                                            span 317
                                            i
                                        .accordion-item.accordion-item-js(style="display:block")
                                            table.table.cabinet-table.table--mobile
                                                thead
                                                    tr
                                                        th Дата и место
                                                        th Рейтинг
                                                        th Бонусы
                                                tbody
                                                    +cabinet-table(tableItems)
                            include ../components/_paginator
                        .tabs__content
                            .notice
                                +notice-item(noticeItems)
                            include ../components/_paginator
                        .tabs__content
                            .settings
                                .settings-header Основная информация
                                .settings-body
                                    form(action="", method="post")
                                        +fieldInputCols('text', 'name', 'Имя', 'Миранда', false)
                                        +fieldInputCols('text', 'surname', 'Фамилия', 'Керр', false)
                                        .group
                                            .group__item.is-col__md-4.is-col__xs-12
                                                label Город
                                            .group__item.is-col__md-8.is-col__xs-12
                                                select.control
                                                    option Москва
                                                    option Спб
                                                    option Спб
                                                    option Спб
                                                    option Спб
                                        .group
                                            .group__item.is-col__md-4.is-col__xs-12
                                                label Пол
                                            .group__item.is-col__md-8.is-col__xs-12
                                                select.control
                                                    option Женский
                                                    option Мужской
                                        .group.error
                                            .group__item.is-col__md-4.is-col__xs-12
                                                label Ник
                                            .group__item.is-col__md-8.is-col__xs-12
                                                input.control(type='text', name='nikname', value="Citygirl$")
                                                .error-body: .error-body__inner Неправильный ввод, исполь- зуйте буквы латинского алфа-вита, цифры и символы *?!:
                                        +fieldInputCols('text', 'birth', 'Дата рождения', '20.10.1990', false)
                                        +fieldInputCols('email', 'email', 'E-mail', 'mirakerr@mail.ru', false)
                                        +fieldInputCols('text', 'phone', 'Телефон', '+7 915 920 300 5', false)
                                        .group
                                            .group__item.is-col__md-4.is-col__xs-12
                                            .group__item.is-col__md-8.is-col__xs-12
                                                .checkbox
                                                    input(type="checkbox", id="id001", checked)
                                                    label(for="id001"): a(href="#") Получать новости #[br] от «Города»
                                        .group
                                            .group__item.is-col__md-4.is-col__xs-12
                                            .group__item.is-col__md-8.is-col__xs-12
                                                .checkbox
                                                    input(type="checkbox", id="id002", checked)
                                                    label(for="id002"): a(href="#") Согласен(на) на обработку моих #[br] персональных данных
                                        +fieldInputCols('password', 'oldpass', 'Старый пароль', 'asdasdasda', false)
                                        +fieldInputCols('password', 'newpass', 'Новый пароль', 'asdasdasda', false)
                                        .group
                                            .group__item.is-col__md-4.is-col__xs-12
                                            .group__item.is-col__md-8.is-col__xs-12
                                                button.btn.btn--success(type="submit") Сохранить изменения
