main.page-index
  .container
    section.catalog
      include ../components/_breadcrumbs
      h1= title
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4
          form.aside
            .aside-mobile.aside-mobile--js
                .inner: i.is-icons.is-icons--aside_ico
            .aside-inner 
                ul.accordion
                  li: a.accordion-header(href="#")
                    span Очистить фильтр
                    i.is-icons.is-icons--reload-sm
                  li.accordion-inner
                    .checkbox
                      input.check_all(type="checkbox", id="id2")
                      label(for="id2")
                    .accordion-title-js.active 
                      .accordion-title
                        b Разделы
                        i
                      .accordion-item.accordion-item-js.active
                        .checkbox
                          input.chk--js(type="checkbox", id="id3")
                          label(for="id3") Все для дома (47)
                        .checkbox
                          input.chk--js(type="checkbox", id="id4")
                          label(for="id4") Техника (13)
                        .checkbox
                          input.chk--js(type="checkbox", id="id5")
                          label(for="id5") Детские товары (21)
                        .checkbox
                          input.chk--js(type="checkbox", id="id6")
                          label(for="id6") Парфюмерия (10)
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .tabs
            .sort
              .is-row
                .is-col.is-col__lg-4.is-col__md-6.sort__item
                  a.sort__item-link(href="#") В городе
                  a.sort__item-link.active(href="#") В интернете
                .is-col.is-col__lg-4.is-col__md-6.sort__item.pulled-right
                  ul.tabs__caption.tabs__caption--js
                    li.active
                      i.icon-view-list
                      | Списком
                    li
                      i.icon-view-map
                      | На карте
            .tabs__content.active
              .is-row
                +product-g(products1)
              include ../components/_paginator
            .tabs__content
              h3 На карте
