main.page-index
  .container
    section.catalog
      include ../components/_breadcrumbs
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
          h1= title
          form.search
            input.control(type="search", placeholder="Поиск")
            button.btn(type="submit"): i.is-icons.is-icons--search-bl
          include ../components/_filter
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .tags
          .tabs
            .sort
              .is-row
                .is-col.is-col__lg-4.is-col__md-4.sort__item
                  a.sort__item-link(href="#") В городе
                  a.sort__item-link.active(href="#") В интернете
                .is-col.is-col__lg-6.is-col__md-5.sort__item
                  a.sort__item-link.active(href="#") По алфавиту
                  a.sort__item-link(href="#") По дате
                  a.sort__item-link(href="#") По популярности
                .is-col.is-col__lg-2.is-col__md-3.sort__item
                  ul.tabs__caption.tabs__caption--js
                    li.active: i.icon-view-standart
                    li: i.icon-view-list
                    li: i.icon-view-map
            .tabs__content.active
              .is-row
                +product(products)
              include ../components/_paginator
            .tabs__content 
              table.table.partners__item--table.partners__item--list
                thead
                  tr
                    th Партнер
                    th
                    th Описание
                    th Начисление
                    th Списание
                tbody
                  +product-list(productsList)
                  +product-list(productsList)
              include ../components/_paginator
            .tabs__content
              h3 На карте
