main.page-index
  .container
    section.catalog
      include ../components/_breadcrumbs
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
          h1= title
          form.search
            input.control(type="search", placeholder="Поиск")
            button.btn(type="submit"): i.is-icons.is-icons--search-bl
          include ../components/_filter
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .tags
          .tabs
            .sort
              .is-row
                .is-col.is-col__lg-4.is-col__md-4.sort__item
                  a.sort__item-link.active(href="#") В городе
                  a.sort__item-link(href="#") В интернете
                .is-col.is-col__lg-6.is-col__md-5.sort__item
                  a.sort__item-link.active(href="#") По алфавиту
                  a.sort__item-link(href="#") По дате
                  a.sort__item-link(href="#") По популярности
                .is-col.is-col__lg-2.is-col__md-3.sort__item
                  ul.tabs__caption.tabs__caption--js
                    li.active: i.icon-view-standart
                    li: i.icon-view-list
                    li: i.icon-view-map
            .tabs__content.active
              .is-row.is-row
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                      p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                    .partners__item-tag
                      a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Hатpиевые атомы предварительно были замечены с центром комет
                    .partners__item-tag
                      a.btn.btn--full.btn--warning(href="#") Транспорт
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White
                      p С потрясающим видом на что-то еще
                    .partners__item-tag
                      a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--danger(href="#") Магазины
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Hатpиевые атомы предварительно были замечены с центром комет
                    .partners__item-tag
                      a.btn.btn--full.btn--warning(href="#") Транспорт
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                      p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                    .partners__item-tag
                      a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                  .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                      h4: a(href="#") Black/White #[br] 2 строчка названия
                      p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                      a.btn.btn--full.btn--danger(href="#") Магазины
              include ../components/_paginator
            .tabs__content
              table.table.partners__item--table.partners__item--list
                tbody
                  +product-lists(productsLists)
                  +product-lists(productsLists)
              include ../components/_paginator
            .tabs__content
              h3 На карте
