main.page-index
  .container
    section.company
      include ../components/_breadcrumbs
      .tags-title
        h1= title
        .tags-item: a.btn.btn--grey(href="#") Жилье
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.pulled-right
          .discount
            .discount-percent +5%
            .discount-desc бонусами на карту #[br] «Город Возможностей»
            .discount-img: img(src="images/discount.png", alt="")
          .sidebar-menu-title
            i.is-icons.is-icons--photo
            span Фотографии
          .sidebar-shares__item
            .sidebar-slider-mult
              - for (var i =1; i < 4; i++)
                img(src="images/photo-1.jpg", alt="")
                img(src="images/photo-2.jpg", alt="")
                img(src="images/photo-3.jpg", alt="")
            .slider-arrow.slider-arrow--mult
              .slider-arrow-left
              .slider-arrow-right
          .shadow.hidden__xs.hidden__sm
            img(src="images/banner-4.jpg", alt="")
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .company-body
            .is-row
              .is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
                .partners__item-img.shadow
                  img(src="images/action.png", alt="")
                .company-body--inner
                  p: b Информация
                  p Адрес: #[br] Ulica Slobode 14, Светой #[br] Стефан, Черногория
                  p Пн - Вс 10:00 - 01:00 #[br] Средний чек от 15€
                  .note +382 69 038 279 #[br]
                    a(href="#") villa-stevan.com
                  ul.list--inline
                    li: a(href="#"): img(src="images/visa.png", alt="")
                    li: a(href="#"): img(src="images/mc.png", alt="")
                    li: a(href="#"): img(src="images/money.png", alt="")
                  ul.list--inline.list--icons
                    li: a(href="#"): i.is-icons.is-icons--wi-fi
                    li: a(href="#"): i.is-icons.is-icons--cocktail
                    li: a(href="#"): i.is-icons.is-icons--music
              .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12
                .company-body--inner
                  h2.sec-title Villa Stevan
                  .note Апартаменты с удивительным интерьером и отличной пиццей
                  p Вилла «Stefan» находится в элитной части черногорского побережья у пляжа Святого Стефана. Вы можете разместиться в эксклюзивных апартаментах всего в 500 метрах от моря и потрясающим видом на Старый город Святого Стефана. Вилла построена в средиземноморском стиле из камня, а на территории у виллы расположен бассейн для гостей с лежаками и зонтиками, а также полотенцами.
                  p На вилле находятся 2 апартамента с отдельным входом.
                  p 1 апартамент.
                  p Идеально подходит для 4 человек. Общая площадь 110 м2. Две спальни с двуспальными кроватями, просторная совмещенная гостинная с кухней и столовой, две ванные комнаты, две террассы с видом на море и горы.
                  p 2 апартамент.
                  p Идеально подойдет для пары с ребенком. Общая площадь 40 м2. Спальня с двуспальной и односпальной кроватью, кухня со стоболовой зоной, ванная и терраса.
                  p Удобства: кондиционер, wi-fi, кабельное телевидение, каждодневная уборка и смена белья, бесплатная парковка для гостей виллы (расчитана на 4 машины).
          .company-item
            h2.sec-title 3D-панорама
            .tabs
              .tabs__content.active: img(src="images/panarama.jpg", alt="")
              .tabs__content: img(src="images/map-2.jpg", alt="")
              .tabs__content: img(src="images/panarama.jpg", alt="")
              .tabs__content: img(src="images/map-2.jpg", alt="")
              .tabs__content: img(src="images/panarama.jpg", alt="")
              ul.cabinet-menubar.cabinet-menubar--num.tabs__caption--js
                li.active 1
                li 2
                li 3
                li 4
                li 5
          .company-item
            h2.sec-title На карте
            img(src="images/map-2.jpg", alt="")
          .company-item
            .title
              .title-item
                h2.sec-title Предложения партнеров
              .title-item.text--right
                a(href="#") Все предложения
            .is-row
              .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                .partners__item
                  .partners__item-img.partners__item-img--nopad
                    .data-date до 31.12.2015
                    .data-link: a(href="#") подробнее
                    .data-sale
                      | Скидки до
                      span 50%
                    .afisha__item-shadow
                    a(href="#"): img(src='images/partners-1.jpg', alt="")
                  .partners__item-desc
                    h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                    p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                  .partners__item-tag
                    a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
              .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                .partners__item
                  .partners__item-img.partners__item-img--nopad
                    .data-date до 31.12.2015
                    .data-link: a(href="#") подробнее
                    .afisha__item-shadow
                    a(href="#"): img(src='images/partners-2.jpg', alt="")
                  .partners__item-desc
                    h4: a(href="#") Black/White #[br] 2 строчка названия
                    p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                  .partners__item-tag
                    a.btn.btn--full.btn--success(href="#") Здоровье и красота
              .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
                .partners__item
                  .partners__item-img.partners__item-img--nopad
                    .data-date до 31.12.2015
                    .data-link: a(href="#") подробнее
                    .afisha__item-shadow
                    a(href="#"): img(src='images/partners-4.jpg', alt="")
                  .partners__item-desc
                    h4: a(href="#") Black/White #[br] 2 строчка названия
                    p Hатpиевые атомы предварительно были замечены с центром комет
                  .partners__item-tag
                    a.btn.btn--full.btn--warning(href="#") Транспорт
          .company-item
            .title
              .title-item
                h2.sec-title Призовые акции
              .title-item.text--right
                a(href="#") Все акции
            .partners__item.partners__item--list
              .partners__item-img.is-col__md-4.is-col__xs-12
                .reload-days
                  span 7
                  i.is-icons.is-icons--reload
                a(href="#"): img(src="images/shares-1.jpg", alt="")
              .partners__item-desc.is-col__md-8.is-col__xs-12
                h3: a(href="#") Еженедельная призовая акция
                p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                .partners__item-share
                  .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="570000")
                  .is-col__lg-5.text--right: a(href="#") Подробнее об акции
            .partners__item.partners__item--list
              .partners__item-img.is-col__md-4.is-col__xs-12
                .reload-days
                  span 30
                  i.is-icons.is-icons--reload
                a(href="#"): img(src="images/shares-2.jpg", alt="")
              .partners__item-desc.is-col__md-8.is-col__xs-12
                h3: a(href="#") Еженедельная призовая акция
                p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                .partners__item-share
                  .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="300000")
                  .is-col__lg-5.text--right: a(href="#") Подробнее об акции
            .partners__item.partners__item--list
              .partners__item-img.is-col__md-4.is-col__xs-12
                .reload-days
                  span 365
                  i.is-icons.is-icons--reload
                a(href="#"): img(src="images/shares-3.jpg", alt="")
              .partners__item-desc.is-col__md-8.is-col__xs-12
                h3: a(href="#") Грандиозная мега акция
                p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                .partners__item-share
                  .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="500000")
                  .is-col__lg-5.text--right: a(href="#") Подробнее об акции