main.page-index
  .container
    section.faq
      include ../components/_breadcrumbs
      h1= title
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.pulled-right
          a.hidden__sm.hidden__xs(href="#"): img(src="images/banner-2.jpg", alt="")
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .faq-inner
            ul.accordion.accordion--simple
              li.accordion-inner
                .accordion-title-js.active
                  .accordion-title
                    b Что? Самый главный вопрос. #[br] Вторая строчка, после нее только кнопка свернуть появляется
                    i
                  .accordion-item.accordion-item-js.active
                    p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".
              li.accordion-inner
                .accordion-title-js
                  .accordion-title
                    b Где? Не менее часто задаваемый вопрос
                    i
                  .accordion-item.accordion-item-js
                    p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".
              li.accordion-inner
                .accordion-title-js
                  .accordion-title
                    b Когда? Это мне интересно очень
                    i
                  .accordion-item.accordion-item-js
                    p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".
              li.accordion-inner
                .accordion-title-js
                  .accordion-title
                    b Почему Город Возможностей?
                    i
                  .accordion-item.accordion-item-js
                    p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".
              li.accordion-inner
                .accordion-title-js
                  .accordion-title
                    b Что дают бонусы? Как тратить бонусы?
                    i
                  .accordion-item.accordion-item-js
                    p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".
              li.accordion-inner
                .accordion-title-js
                  .accordion-title
                    b Что делать, если за покупку не начислены бонусы?
                    i
                  .accordion-item.accordion-item-js
                    p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".
              li.accordion-inner
                .accordion-title-js
                  .accordion-title
                    b Что делать, если за покупку не начислены бонусы?
                    i
                  .accordion-item.accordion-item-js
                    p Различное расположение, следуя пионерской работе Эдвина Хаббла, выслеживает секстант. Ось последовательно решает параллакс. Эпоха вероятна. Планета однородно выбирает первоначальный астероид, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения".