main.page-lp
  .container
    section.banner-cart
      .is-col__md-8
        p.i.is-icons.is-icons--big-cart
        h1.text--success Покупайте и заказывайте у партнеров в городе и интернета, а клуб начислит вам бонусы за покупку.
        p Больше не нужно носить с собой сотни карточек различных магазинов и годами накапливать скидки — теперь бонусы от всех ваших любимых магазинов собраны в одном месте!
    section.bonus-section
      .is-row
        .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12.margbot20
          h2.sec-title Бонусы на карту за покупки #[br] #[a.text--info(href="#") в интернете]
          img(src="images/lp/howto-cube1.png", alt="")
        +productlp(productslp)
    section.title-link
      .text--center
        h2.sec-title.text--default Более 500 интернет партнеров клуба #[br] начисляют бонусы с покупок.
        a.btn.btn--success(href="#") Все интернет-партнеры
    section.partners-section
      .is-row
        .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .partners__item
            .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
            .partners__item-desc
              h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
              p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
            .partners__item-tag
              a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
        .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .partners__item
            .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
            .partners__item-desc
              h4: a(href="#") Black/White #[br] 2 строчка названия
              p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
            .partners__item-tag
              a.btn.btn--full.btn--success(href="#") Здоровье и красота
        .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .partners__item
            .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
            .partners__item-desc
              h4: a(href="#") Black/White #[br] 2 строчка названия
              p Hатpиевые атомы предварительно были замечены с центром комет
            .partners__item-tag
              a.btn.btn--full.btn--warning(href="#") Транспорт
        .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          h2.sec-title Партнеры #[a.text--info(href="#") в городе] тоже начисляют бонусы и делают скидки
          img(src="images/lp/howto-cube2.png", alt="")
    section.title-link
      .text--center
        h2.sec-title.text--default Более 200 партнеров клуба в вашем городе #[br] начисляют бонусы с покупок.
        a.btn.btn--success(href="#") Все партнеры в городе
    section.company-list
      .is-row
        - for (var i=1; i < 13; i++)
          .is-col.is-col__lg-2.is-col__md-3.is-col__sm-4.is-col__xs-6
            a(href="#"): img(src="images/lp/logo-"+i+".jpg", alt="")
    section.opportunities-section
      .is-row
        .is-col.is-col__md-6.is-col__xs-12
          img(src="images/lp/howto-cards.png", alt="")
        .is-col.is-col__md-6.is-col__xs-12
          h2.sec-title Воспользуйтесь всеми возможностями вашего Города, вступайте в клуб!
          p Больше не нужно носить с собой сотни карточек различных магазинов и годами накапливать скидки — теперь бонусы от всех ваших любимых магазинов в одном месте!
          a.btn.btn--danger(href="#") Вступить в клуб, получить карту