main.page-index
    section.banner
        .container
            .is-row
                .is-col.is-col__lg-6.is-col__md-8.is-col__xs-12
                    .banner-slider.main-slider
                        - for (var i = 0; i < 3; i++)
                            .item
                                .item-title 
                                    h2.sec-title Всего одна строчка
                                    p.margbot20 И даже больше. Попробуйте и убедитесь
                                    a.btn.btn--success(href="#") Узнать больше
                                .item-shadow
                                img(src="images/slide-1.jpg")
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.banner-box(href="#")
                        .banner-box__title
                            h3 Копи бонусы #[br] и получай приз!
                        .banner-box__img(style="background: url('images/bannerbox-1.jpg') no-repeat right bottom /  100% auto")
                    a.banner-box(href="#")
                        .banner-box__title
                            h3 Копи бонусы #[br] и получай приз!
                        .banner-box__img(style="background: url('images/bannerbox-3.png') no-repeat right bottom /  100% auto")
                .is-col.is-col__lg-3.is-col__md-8.is-col__sm-6.is-col__xs-12
                    a.banner-box.banner-box--halfy(href="#")
                        .banner-box__title
                            h3 Новый баннер. #[br] Может быть две #[br] и даже 3 строчки
                        .banner-box__img(style="background: url('images/bannerbox-2.png') no-repeat right bottom /  100% auto")
                    a.banner-box.banner-box--halfy(href="#")
                        .banner-box__title
                            h3 Закажи услугу #[br] за бонусы!
                        .banner-box__img(style="background: url('images/bannerbox-4.jpg') no-repeat right bottom /  100% auto")
    section.share
        .container
             .share-inner
                 .share-item.is-col__lg-3.is-col__md-4.is-col__xs-12
                     .share-img
                         img(src="images/share-img.jpg", alt="")
                 .share-item.is-col__lg-6.is-col__md-8.is-col__xs-12
                     .share-desc
                         h3 Ежемесячная призовая акция #[br] Вторая строчка
                         p Понятие тоталитаризма категорически иллюстрирует культ личности. Культ личности фактически определяет конструктивный субъект политического процесса. Форма
                     .share-bot
                         .b-countdown
                             div(data-controller="Cloaca", data-time="4718")
                 .share-item.share-item--shorter.is-col__lg-3.is-col__xs-12
                     .share-desc
                         h3 Условия
                         p Вы можете стать участником розыгрыша, вступив в клуб и получив карту «Города»
                     .share-bot
                         a.btn.btn--success(href="#") Участвовать
    .container
        section.afisha
            .title
                .title-item
                    h1 Афиша
                .title-item.text--right
                    a(href="#") Все события
            .afisha-inner.is-row
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.afisha__item(href="#")
                        .afisha__item-title Выставка-фотографий #[br] «Роботы и мужики»
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/afisha-1.jpg", alt="")
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.afisha__item(href="#")
                        .afisha__item-title Выставка-иллюзия «Алиса в Стране чудес»
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/afisha-2.jpg", alt="")
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.afisha__item(href="#")
                        .afisha__item-title Форсаж 8
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/afisha-3.jpg", alt="")
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.afisha__item(href="#")
                        .afisha__item-title Уйти красиво
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/afisha-4.jpg", alt="")
        section.partners
            .title
                .title-item
                    h2.sec-title Новые партнеры
                .title-item.text--right
                    a(href="#") Все партнеры
            .partners-inner.is-row
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    .partners__item
                        .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                        .partners__item-desc
                            h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                            p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                        .partners__item-tag
                            a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    .partners__item
                        .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                        .partners__item-desc
                            h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                            p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                        .partners__item-tag
                            a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    .partners__item
                        .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                        .partners__item-desc
                            h4: a(href="#") Black/White #[br] 2 строчка названия
                            p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                        .partners__item-tag
                            a.btn.btn--full.btn--success(href="#") Здоровье и красота
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    .partners__item
                        .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                        .partners__item-desc
                            h4: a(href="#") Black/White #[br] 2 строчка названия
                            p Hатpиевые атомы предварительно были замечены с центром комет
                        .partners__item-tag
                            a.btn.btn--full.btn--warning(href="#") Транспорт
        section.afisha
            .title
                .title-item
                    h2.sec-title Новости и блоговые записи
                .title-item.text--right
                    a(href="#") Все записи
            .afisha-inner.is-row
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.afisha__item(href="#")
                        .afisha__item-title Спа #[br] Обновись.
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/news-1.jpg", alt="")
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.afisha__item(href="#")
                        .afisha__item-title Радио-такси #[br] Эх, прокачу!
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/news-2.jpg", alt="")
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                    a.afisha__item(href="#")
                        .afisha__item-title Салон красоты #[br] Получи приз
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/news-3.jpg", alt="")
                .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.hidden__md
                    a.afisha__item(href="#")
                        .afisha__item-title Доставка пиццы #[br] Для ценителей
                        .afisha__item-shadow
                        .afisha__item-img
                            img(src="images/news-4.jpg", alt="")
        //- section
          +glyph('Coffee-Cup', 'e938')
          +glyph('Coffee', 'e939')
          +glyph('Cooking-Pot', 'e93a')
          +glyph('Fork-And-Knife', 'e93b')
          +glyph('Grape', 'e93c')
          +glyph('Ice-Cream', 'e93d')
          +glyph('Kettle---Alt', 'e93e')
          +glyph('Kettle', 'e93f')
          +glyph('Kiwi', 'e940')
          +glyph('Lemon', 'e941')
          +glyph('Lid', 'e942')
          +glyph('Mug', 'e943')
          +glyph('Orange', 'e944')
          +glyph('Pizza-Slicer', 'e945')
          +glyph('Pizza', 'e946')
          +glyph('Plates', 'e947')
          +glyph('Salt-n-Pepper-Mill', 'e948')
          +glyph('Water', 'e949')
          +glyph('Watermelon', 'e94a')
          +glyph('Wine-Glass---Alt', 'e94b')
          +glyph('Wine-Glass', 'e94c')
          +glyph('Wine', 'e94d')
          +glyph('Balloon', 'e94e')
          +glyph('Basketball', 'e94f')
          +glyph('Bathtub', 'e950')
          +glyph('Beauty', 'e951')
          +glyph('Bed', 'e952')
          +glyph('Bird-House', 'e953')
          +glyph('Briefcase', 'e954')
          +glyph('Chair---Alt', 'e955')
          +glyph('Chair', 'e956')
          +glyph('Comb', 'e957')
          +glyph('Drawers', 'e958')
          +glyph('Dumbbell', 'e959')
          +glyph('Handbag', 'e95a')
          +glyph('Hanger', 'e95b')
          +glyph('Hook', 'e95c')
          +glyph('Planet', 'e95d')
          +glyph('Shovel', 'e95e')
          +glyph('Shower2', 'e95f')
          +glyph('Smoking', 'e960')
          +glyph('Soap-Dispenser', 'e961')
          +glyph('Sofa', 'e962')
          +glyph('Suitcase', 'e963')
          +glyph('Towel', 'e964')
          +glyph('Trees', 'e965')
          +glyph('Tshirt', 'e966')
          +glyph('Wedding-Ring', 'e967')
          +glyph('Weight', 'e968')
          +glyph('Whistle', 'e969')
          +glyph('Alarm', 'e96a')
          +glyph('Bell', 'e96b')
          +glyph('Calendar---Add', 'e96c')
          +glyph('Calendar---Check', 'e96d')
          +glyph('Calendar---Delete', 'e96e')
          +glyph('Calendar---Remove', 'e96f')
          +glyph('Calendar', 'e970')
          +glyph('Clock', 'e971')
          +glyph('Dashboard', 'e972')
          +glyph('Sandglass', 'e973')
          +glyph('Timer', 'e974')
          +glyph('Add', 'e975')
          +glyph('Bluetooth', 'e976')
          +glyph('Check-All---Alt', 'e977')
          +glyph('Check-All', 'e978')
          +glyph('Cross', 'e979')
          +glyph('Danger', 'e97a')
          +glyph('Do-Not-Enter', 'e97b')
          +glyph('Expand', 'e97c')
          +glyph('External-Link', 'e97d')
          +glyph('Fail', 'e97e')
          +glyph('Flow---Branch', 'e97f')
          +glyph('Flow---Cascade', 'e980')
          +glyph('Flow---Line', 'e981')
          +glyph('Flow---Parallal', 'e982')
          +glyph('Flow---Tree', 'e983')
          +glyph('Help', 'e984')
          +glyph('Infinite', 'e985')
          +glyph('Information', 'e986')
          +glyph('Keyboard', 'e987')
          +glyph('Lock-Rotation', 'e988')
          +glyph('Maximize---Alt', 'e989')
          +glyph('Maximize', 'e98a')
          +glyph('Merge', 'e98b')
          +glyph('Minimize---Alt', 'e98c')
          +glyph('Minimize', 'e98d')
          +glyph('Monitor', 'e98e')
          +glyph('No', 'e98f')
          +glyph('Notification', 'e990')
          +glyph('Phone-Rotate', 'e991')
          +glyph('Phone-Shake', 'e992')
          +glyph('Power', 'e993')
          +glyph('Recycle', 'e994')
          +glyph('Reload', 'e995')
          +glyph('Remove', 'e996')
          +glyph('Restore', 'e997')
          +glyph('Retweet', 'e998')
          +glyph('Sign-In', 'e999')
          +glyph('Sign-Out', 'e99a')
          +glyph('Signal---Alt', 'e99b')
          +glyph('Signal', 'e99c')
          +glyph('Sleep', 'e99d')
          +glyph('Sort', 'e99e')
          +glyph('Split', 'e99f')
          +glyph('Stop', 'e9a0')
          +glyph('Success', 'e9a1')
          +glyph('Swap', 'e9a2')
          +glyph('Switch', 'e9a3')
          +glyph('Sync', 'e9a4')
          +glyph('Tick', 'e9a5')
          +glyph('USB', 'e9a6')
          +glyph('Wifi', 'e9a7')
          +glyph('Align---Center', 'e9a8')
          +glyph('Align---Left', 'e9a9')
          +glyph('Align---Right', 'e9aa')
          +glyph('Anchor', 'e9ab')
          +glyph('Bold', 'e9ac')
          +glyph('Bullets', 'e9ad')
          +glyph('Close-Quote', 'e9ae')
          +glyph('Code', 'e9af')
          +glyph('Collapse', 'e9b0')
          +glyph('Columns', 'e9b1')
          +glyph('Copy', 'e9b2')
          +glyph('Decrease-Level', 'e9b3')
          +glyph('Expand2', 'e9b4')
          +glyph('Filter', 'e9b5')
          +glyph('Font-Size', 'e9b6')
          +glyph('Grid---Alt', 'e9b7')
          +glyph('Grid', 'e9b8')
          +glyph('Increase-Level', 'e9b9')
          +glyph('Italic', 'e9ba')
          +glyph('Justify', 'e9bb')
          +glyph('Layout', 'e9bc')
          +glyph('List---Alt', 'e9bd')
          +glyph('List', 'e9be')
          +glyph('Numbers', 'e9bf')
          +glyph('Open-Quote', 'e9c0')
          +glyph('Patse', 'e9c1')
          +glyph('Redo', 'e9c2')
          +glyph('Reference', 'e9c3')
          +glyph('Rename', 'e9c4')
          +glyph('Strikethrough', 'e9c5')
          +glyph('Type', 'e9c6')
          +glyph('Underline', 'e9c7')
          +glyph('Undo', 'e9c8')
          +glyph('Window', 'e9c9')
          +glyph('Windows', 'e9ca')
          +glyph('Box---Download', 'e9cb')
          +glyph('Box---Upload', 'e9cc')
          +glyph('Box', 'e9cd')
          +glyph('Cloud---Download', 'e9ce')
          +glyph('Cloud---Upload', 'e9cf')
          +glyph('Cloud2', 'e9d0')
          +glyph('Download---Alt', 'e9d1')
          +glyph('File---Add', 'e9d2')
          +glyph('File---Checked', 'e9d3')
          +glyph('File---Cloud', 'e9d4')
          +glyph('File---Delete', 'e9d5')
          +glyph('File---Disable', 'e9d6')
          +glyph('File---Download', 'e9d7')
          +glyph('File---Lock', 'e9d8')
          +glyph('File---Music', 'e9d9')
          +glyph('File---Photo', 'e9da')
          +glyph('File---Remove', 'e9db')
          +glyph('File---Search', 'e9dc')
          +glyph('File---Upload', 'e9dd')
          +glyph('File---Video', 'e9de')
          +glyph('File', 'e9df')
          +glyph('Files', 'e9e0')
          +glyph('Folder---Add', 'e9e1')
          +glyph('Folder---Checked', 'e9e2')
          +glyph('Folder---Cloud', 'e9e3')
          +glyph('Folder---Delete', 'e9e4')
          +glyph('Folder---Disable', 'e9e5')
          +glyph('Folder---Download', 'e9e6')
          +glyph('Folder---Lock', 'e9e7')
          +glyph('Folder---Music', 'e9e8')
          +glyph('Folder---Open', 'e9e9')
          +glyph('Folder---Photo', 'e9ea')
          +glyph('Folder---Remove', 'e9eb')
          +glyph('Folder---Search', 'e9ec')
          +glyph('Folder---Upload', 'e9ed')
          +glyph('Folder---Video', 'e9ee')
          +glyph('Folder', 'e9ef')
          +glyph('Save', 'e9f0')
          +glyph('Share---1', 'e9f1')
          +glyph('Share---2', 'e9f2')
          +glyph('Share---3', 'e9f3')
          +glyph('Spinner', 'e9f4')
          +glyph('Upload', 'e9f5')
          +glyph('Apple-Watch', 'e9f6')
          +glyph('Battery-Charging', 'e9f7')
          +glyph('Battery-Empty', 'e9f8')
          +glyph('Battery-Full', 'e9f9')
          +glyph('Battery-Low', 'e9fa')
          +glyph('Battery-Medium', 'e9fb')
          +glyph('Chip', 'e9fc')
          +glyph('Computer', 'e9fd')
          +glyph('Disk', 'e9fe')
          +glyph('Flashlight', 'e9ff')
          +glyph('Gamepad', 'ea00')
          +glyph('Hair-Dryer', 'ea01')
          +glyph('Lamp', 'ea02')
          +glyph('Laptop', 'ea03')
          +glyph('Lightbulb', 'ea04')
          +glyph('Magic-Mouse', 'ea05')
          +glyph('Microwave-Oven', 'ea06')
          +glyph('Mobile-Phone', 'ea07')
          +glyph('Mouse', 'ea08')
          +glyph('Mouse', 'ea08')
          +glyph('Plug', 'ea09')
          +glyph('Power-Socket', 'ea0a')
          +glyph('Printer', 'ea0b')
          +glyph('Radio', 'ea0c')
          +glyph('Refrigerator', 'ea0d')
          +glyph('Router', 'ea0e')
          +glyph('Security-Camera', 'ea0f')
          +glyph('Server', 'ea10')
          +glyph('Shredder', 'ea11')
          +glyph('Smart-Phone', 'ea12')
          +glyph('Speaker', 'ea13')
          +glyph('Tablet', 'ea14')
          +glyph('TV', 'ea15')
          +glyph('Video-Camera', 'ea16')
          +glyph('Washing-Machine', 'ea17')
          +glyph('Watch', 'ea18')
          +glyph('Book---Alt', 'ea19')
          +glyph('Book---Checked', 'ea1a')
          +glyph('Book---Download', 'ea1b')
          +glyph('Book---Open', 'ea1c')
          +glyph('Book---Search', 'ea1d')
          +glyph('Book', 'ea1e')
          +glyph('Glasses', 'ea1f')
          +glyph('Globe', 'ea20')
          +glyph('Mortar-Board', 'ea21')
          +glyph('News', 'ea22')
          +glyph('Notebook', 'ea23')
          +glyph('Podium', 'ea24')
          +glyph('Projector-Screen', 'ea25')
          +glyph('Technology', 'ea26')
          +glyph('Whiteboard', 'ea27')
          +glyph('Airplay', 'ea28')
          +glyph('Album', 'ea29')
          +glyph('Camera', 'ea2a')
          +glyph('Disc', 'ea2b')
          +glyph('Eject', 'ea2c')
          +glyph('Equalizer', 'ea2d')
          +glyph('Headphones', 'ea2e')
          +glyph('Image---Alt', 'ea2f')
          +glyph('Image', 'ea30')
          +glyph('Knob', 'ea31')
          +glyph('Mic', 'ea32')
          +glyph('Movie---Alt', 'ea33')
          +glyph('Movie', 'ea34')
          +glyph('Music-Note---Alt', 'ea35')
          +glyph('Music-Note', 'ea36')
          +glyph('Pause', 'ea37')
          +glyph('Play', 'ea38')
          +glyph('Playback-Fast-Forward', 'ea39')
          +glyph('Playback-Next', 'ea3a')
          +glyph('Playback-Previous', 'ea3b')
          +glyph('Playback-Rewind', 'ea3c')
          +glyph('Playlist', 'ea3d')
          +glyph('Podcast', 'ea3e')
          +glyph('Record', 'ea3f')
          +glyph('Reload2', 'ea40')
          +glyph('Repeat', 'ea41')
          +glyph('Shuffle', 'ea42')
          +glyph('Stop2', 'ea43')
          +glyph('Streaming-Music', 'ea44')
          +glyph('Video', 'ea45')
          +glyph('Voicemail', 'ea46')
          +glyph('Volume---Low', 'ea47')
          +glyph('Volume---Max', 'ea48')
          +glyph('Volume---Medium', 'ea49')
          +glyph('Volume---Mute', 'ea4a')
          +glyph('Building', 'ea4b')
          +glyph('Compass', 'ea4c')
          +glyph('Direction---Alt', 'ea4d')
          +glyph('Direction2', 'ea4e')
          +glyph('Factory', 'ea4f')
          +glyph('House', 'ea50')
          +glyph('Map', 'ea51')
          +glyph('Pin---1', 'ea52')
          +glyph('Pin---2', 'ea53')
          +glyph('Pin---3', 'ea54')
          +glyph('Street-Sign', 'ea55')
          +glyph('World', 'ea56')
          +glyph('Bank', 'ea57')
          +glyph('Barcode-Scan', 'ea58')
          +glyph('Calculator', 'ea59')
          +glyph('Credit-Card', 'ea5a')
          +glyph('Gift', 'ea5b')
          +glyph('Line-Chart', 'ea5c')
          +glyph('Money---Alt', 'ea5d')
          +glyph('Money', 'ea5e')
          +glyph('Pie-Chart---Alt', 'ea5f')
          +glyph('Pie-Chart', 'ea60')
          +glyph('Pillow-Chart---1', 'ea61')
          +glyph('Pillow-Chart---2', 'ea62')
          +glyph('Pillow-Chart---3', 'ea63')
          +glyph('Safe', 'ea64')
          +glyph('Shopping-Bag', 'ea65')
          +glyph('Shopping-Basket', 'ea66')
          +glyph('Shopping-Cart', 'ea67')
          +glyph('Store', 'ea68')
          +glyph('Wallet', 'ea69')
          +glyph('Hand---Alt', 'ea6a')
          +glyph('Hand---Pointing-Down', 'ea6b')
          +glyph('Hand---Pointing-Left', 'ea6c')
          +glyph('Hand---Pointing-Right', 'ea6d')
          +glyph('Hand---Pointing-Up', 'ea6e')
          +glyph('Hand', 'ea6f')
          +glyph('Add-Contacts', 'ea70')
          +glyph('Box---In', 'ea71')
          +glyph('Box---Out', 'ea72')
          +glyph('Box-Alt', 'ea73')
          +glyph('Box2', 'ea74')
          +glyph('Brain', 'ea75')
          +glyph('Chat', 'ea76')
          +glyph('Comment---Alt', 'ea77')
          +glyph('Comment', 'ea78')
          +glyph('Contacts', 'ea79')
          +glyph('Forward---Alt', 'ea7a')
          +glyph('Forward', 'ea7b')
          +glyph('Junk-Box', 'ea7c')
          +glyph('Keypad', 'ea7d')
          +glyph('Loudspeaker', 'ea7e')
          +glyph('Mail', 'ea7f')
          +glyph('Man', 'ea80')
          +glyph('Message---Smile', 'ea81')
          +glyph('Message', 'ea82')
          +glyph('Note', 'ea83')
          +glyph('People-Female', 'ea84')
          +glyph('People', 'ea85')
          +glyph('Phone', 'ea86')
          +glyph('Quill', 'ea87')
          +glyph('Reply---Alt', 'ea88')
          +glyph('Reply-All---Alt', 'ea89')
          +glyph('Reply-All', 'ea8a')
          +glyph('Reply', 'ea8b')
          +glyph('Send', 'ea8c')
          +glyph('User-Alt', 'ea8d')
          +glyph('User-Female', 'ea8e')
          +glyph('User', 'ea8f')
          +glyph('Users', 'ea90')
          +glyph('Woman', 'ea91')
          +glyph('Anchor2', 'ea92')
          +glyph('Clipboard', 'ea93')
          +glyph('Crop', 'ea94')
          +glyph('Envelope', 'ea95')
          +glyph('Eye-Dropper', 'ea96')
          +glyph('Layers', 'ea97')
          +glyph('Magic-Wand', 'ea98')
          +glyph('Paint-Brush', 'ea99')
          +glyph('Paint-Bucket', 'ea9a')
          +glyph('Paint-Roller', 'ea9b')
          +glyph('Pen', 'ea9c')
          +glyph('Pixel', 'ea9d')
          +glyph('Ruler', 'ea9e')
          +glyph('Scissors', 'ea9f')
          +glyph('Stacks', 'eaa0')
          +glyph('Attachment', 'eaa1')
          +glyph('Backspace', 'eaa2')
          +glyph('Binoculars', 'eaa3')
          +glyph('Bookmark', 'eaa4')
          +glyph('Compose', 'eaa5')
          +glyph('Crosshair', 'eaa6')
          +glyph('Crown', 'eaa7')
          +glyph('Cursor', 'eaa8')
          +glyph('Dislike', 'eaa9')
          +glyph('Emoji', 'eaaa')
          +glyph('Flag---Alt', 'eaab')
          +glyph('Flag', 'eaac')
          +glyph('Flash', 'eaad')
          +glyph('Guard', 'eaae')
          +glyph('Half-Star', 'eaaf')
          +glyph('Heart', 'eab0')
          +glyph('Key', 'eab1')
          +glyph('Like', 'eab2')
          +glyph('Link', 'eab3')
          +glyph('Lock', 'eab4')
          +glyph('Loupe', 'eab5')
          +glyph('More---Alt', 'eab6')
          +glyph('More', 'eab7')
          +glyph('Move', 'eab8')
          +glyph('Pencil', 'eab9')
          +glyph('Settings', 'eaba')
          +glyph('Shield', 'eabb')
          +glyph('Star', 'eabc')
          +glyph('Tag', 'eabd')
          +glyph('Target', 'eabe')
          +glyph('Ticket', 'eabf')
          +glyph('Trash', 'eac0')
          +glyph('Trophy', 'eac1')
          +glyph('Unlink', 'eac2')
          +glyph('Unlock', 'eac3')
          +glyph('View', 'eac4')
          +glyph('Warning', 'eac5')
          +glyph('Wranch', 'eac6')
          +glyph('Zoom-In', 'eac7')
          +glyph('Zoom-Out', 'eac8')
          
          
