main.page-lp
  .container
    section.banner-nav
        .banner-nav__desc
            h1 Вам повезет!
            p: span.text--center Просто покупайте у любого #[br] из #[b 237 партнеров] клуба и получайте:
        ul.lp-nav
            li: a(href="#")
                i.icon-lan-nav-1
                b Приятные #[br] бонусы
            li: a(href="#")
                i.icon-lan-nav-2
                b Ценные #[br] призы
            li: a(href="#")
                i.icon-lan-nav-3
                b Новости о выгодных #[br] акциях
            li: a(href="#")
                i.icon-lan-nav-4
                b Вступить в клуб #[br] и получить карту!
        .shadow
    section.club-section
      .is-row
        .is-col.is-col__md-6.is-col__xs-12
            img(src="images/lp/lp-card.png", alt="")
        .is-col.is-col__md-6.is-col__xs-12
            h2.sec-title Клуб привилегий #[br] и поощрений
            p.margbot30 Больше не нужно носить с собой сотни карточек различных магазинов и годами накапливать скидки — теперь бонусы от всех ваших любимых магазинов в одном месте!
            a.btn.btn--danger(href="#") Вступите в клуб
    section.getcard-section
        .text--center
            h2.sec-title В нашем клубе #[br] только отборные партнеры:
            p Тут будет текст про исключительность всех, #[br] кто находится на сайте
        .getcard-section__img: img(src="images/lp/cubes.png", alt="")
        .getcard-section__footer
            a.btn.btn--danger(href="#") Получите карту
    section.nav-section
      h2.sec-title Копите бонусы...
      ul.lp-nav
            li: a(href="#")
                img(src="images/lp/lp-nav-6.png", alt="")
                b Получите карту
            li: a(href="#")
                i.icon-lan-nav-2
                b Делайте покупки 
                span в компаниях партнеров клуба
            li: a(href="#")
                i.icon-lan-nav-3
                b Предъявляйте карту
                span на кассе при оплате покупки
            li: a(href="#")
                i.icon-lan-nav-4
                b Копите бонусы
                span и проверяйте свой баланс в личном кабинете
    section.nav-section
      h2.sec-title И тратьте их!
      .is-row
        .is-col.is-col__md-6.is-col__xs-12
          ul.lp-nav.lp-nav--half
                li: a(href="#")
                    i.icon-lan-nav-1
                    b Получайте 
                    span предложения и бонусы от компаний партнеров клуба
                li: a(href="#")
                    i.icon-lan-nav-5
                    b Участвуйте
                    span в призовых акциях Каждый день, каждую неделю,  каждый месяц!
        .is-col.is-col__md-6.is-col__xs-12
            .getcard
                a.btn.btn--danger(href="#") Получить карту
    section.partners
        .title
            .title-item
                h2.sec-title Уже стали партнерами клуба
            .title-item.text--right
                a(href="#") Посмотреть всех
        .partners-inner.is-row
            .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                        h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                        p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                    .partners__item-tag
                        a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
            .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                        h4: a(href="#") Black/White #[br] 2 строчка названия #[br] 3 если надо
                        p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
                    .partners__item-tag
                        a.btn.btn--full.btn--info(href="#") Рестораны, бары и кафе
            .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                        h4: a(href="#") Black/White #[br] 2 строчка названия
                        p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
                    .partners__item-tag
                        a.btn.btn--full.btn--success(href="#") Здоровье и красота
            .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                .partners__item
                    .partners__item-img: a(href="#"): img(src='images/partners-3.jpg', alt="")
                    .partners__item-desc
                        h4: a(href="#") Black/White #[br] 2 строчка названия
                        p Hатpиевые атомы предварительно были замечены с центром комет
                    .partners__item-tag
                        a.btn.btn--full.btn--warning(href="#") Транспорт
    section.lp-contacts
        h2.sec-title Контакты
        .lp-contacts__inner
            .is-row
                .is-col.is-col__md-6.is-col__xs-12
                    .lp-contacts__body
                        .lp-contacts__item
                            .lp-contacts__title Офис:
                            .lp-contacts__desc г. Иваново, ул. Красной Армии, #[br] д. 7А, офис 5.1
                        .lp-contacts__item
                            .lp-contacts__title Горячая линия:
                            .lp-contacts__desc 8 (4932) 930-000
                        .lp-contacts__item
                            .lp-contacts__title E-mail:
                            .lp-contacts__desc: a(href="#") club@gor.ru
                        .margtop40
                            a.btn.btn--danger(href="#") Обратный звонок
                .is-col.is-col__md-6.is-col__xs-12
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1827.5632495976029!2d40.97623338791098!3d56.99417082499616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414d143d41a6faed%3A0xf7d51ff625359c2a!2z0YPQuy4g0JrRgNCw0YHQvdC-0Lkg0JDRgNC80LjQuCwgN9CQLCDQmNCy0LDQvdC-0LLQviwg0JjQstCw0L3QvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTUzMDAw!5e0!3m2!1sru!2sru!4v1495117550714", height="380", frameborder="0", style="width:100%", allowfullscreen)
        