main.page-index
  .container
    section.order
      include ../components/_breadcrumbs
      h1= title
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.pulled-right
          a.hidden__xs.hidden__sm(href="#"): img(src="images/banner-3.jpg", alt="")
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .alert.alert--danger
            span Бонусов недостаточно
            .alert-close.close-tag--js: i.is-icons.is-icons--close-w
          .order-inner
            table.table.order-table.table--mobile
              thead 
                tr
                  th Вид
                  th Название
                  th Действие
                  th Бонусы
                  th Цена
              tbody
                tr
                  td(data-th="Вид")
                    img(src="images/order.jpg", alt="")
                  td(data-th="Название")
                    a(href="#") Dinosaur Bus
                    .text--default Все для дома
                  td(data-th="Действие")
                    .text--default списание
                  td(data-th="Бонусы")
                    span.tetta -500
                    i.is-icons.is-icons--coins-r
                  td(data-th="Цена")
                    span.tetta 0 P
              tfoot
                tr
                  td(colspan="3", rowspan="2")
                    p.text--default На вашем счете 430 бонусов #[br] недостаточно для списания!  Начисление #[br] бонусов происходит в течение 7 дней.
                  td
                    span.tetta Итого:
                  td
                    span.tetta 0 P
                tr
                  td
                    span.tetta.text--default Списать:
                  td
                    span.tetta -500
                    i.is-icons.is-icons--coins-r
          .settings
            .settings-header заказ #657654
            .settings-body
              form(action="", method="post")
                .group
                  .group__item.is-col__lg-4.is-col__sm-5.is-col__xs-12: label ФИО
                  .group__item.is-col__lg-4.is-col__sm-7.is-col__xs-12: input.control(type="text", placeholder="Миранда Керрова")
                .group
                  .group__item.is-col__lg-4.is-col__sm-5.is-col__xs-12: label Электронная почта
                  .group__item.is-col__lg-4.is-col__sm-7.is-col__xs-12: input.control(type="email", placeholder="mira@gor.ru")
                .group
                  .group__item.is-col__lg-4.is-col__sm-5.is-col__xs-12: label Контактный телефон
                  .group__item.is-col__lg-4.is-col__sm-7.is-col__xs-12: input.control(type="text", name="phone", placeholder="+7 915 888 555 3")
                .group
                  .group__item.is-col__lg-4.is-col__sm-5.is-col__xs-12: label Комментарий к заказу
                  .group__item.is-col__lg-6.is-col__sm-7.is-col__xs-12: textarea.control(rows="4")
                .group
                  .group__item.is-col__lg-4.is-col__sm-5.is-col__xs-12
                  .group__item.is-col__lg-8.is-col__sm-7.is-col__xs-12
                    .checkbox
                      input(type="checkbox", id="id001", checked)
                      label(for="id001"): a(href="#") Ознакомился с условиями #[br] и готов к оформлению
                .group
                  .group__item.is-col__lg-4.is-col__sm-5.is-col__xs-12
                  .group__item.is-col__lg-8.is-col__sm-7.is-col__xs-12: img(src="images/capcha.jpg", alt="")
                .group.text--center.text__lg--left
                  .group__item.is-col__lg-4.is-col__xs-12: a.margtop10.btn.btn--outlined(href="#") назад к покупкам
                  .group__item.is-col__lg-8.is-col__xs-12
                    button.margtop10.btn.btn__icon.btn__icon--left.btn--danger(type="submit")
                      i.icon.is-icons.is-icons--cart-w
                      | Оформить заказ
