main.page-index
  .container
    section.reg
      include ../components/_breadcrumbs
      h1= title
      ul.cabinet-menubar.cabinet-menubar--null
        li.active
          a(href="#")
            i.icon-reg
            | Регистрация
        li
          a(href="#")
            i.icon-auth
            | Войти
      .settings
        .settings-body.settings-body--form
          form(action="", method="post")
            .group
              .group__item.is-col__md-4.is-col__xs-12
                label Тип карты
              .group__item.is-col__md-8.is-col__xs-12.radio--js
                .radio.radio--inline
                  input(type="radio", id="id101", name="radio", checked, value='card')
                  label(for="id101") Пластиковая
                .radio.radio--inline
                  input(type="radio", id="id102", name="radio")
                  label(for="id102") Виртуальная
            .group.is-card
              .group__item.is-col__md-4.is-col__xs-12
                label Номер вашей карты
              .group__item.is-col__md-8.is-col__xs-12
                input.control(type="text", name="num")
            +fieldInputCols('text', 'name', 'Имя', '', false)
            +fieldInputCols('text', 'surname', 'Фамилия', '', false)
            +fieldInputCols('text', 'phone', 'Номер телефона', '', false)
            +fieldInputCols('password', 'pass', 'Пароль', '', false)
            +fieldInputCols('password', 'pass', 'Повторите пароль', '', false)
            .group
              .group__item.is-col__md-4.is-col__xs-12
                label Дата рождения
              .group__item.is-col__md-2.is-col__sm-4.is-col__xs-12
                select.control
                  option(disabled, selected) День
                  option 1
                  option 2
                  option 3
              .group__item.is-col__lg-2.is-col__md-3.is-col__sm-4.is-col__xs-6
                select.control
                  option(disabled, selected) Месяц
                  option Сентябрь
                  option Октябрь
                  option Март
                  option Май
              .group__item.is-col__lg-2.is-col__md-3.is-col__sm-4.is-col__xs-6
                select.control
                  option(disabled, selected) Год
                  option 1990
                  option 1991
                  option 1992
            .group
              .group__item.is-col__md-4.is-col__xs-12
                label Ваш пол
              .group__item.is-col__md-8.is-col__xs-12
                .radio.radio--inline
                  input(type="radio", id="id103", name="radio2", checked)
                  label(for="id103") Мужской
                .radio.radio--inline
                  input(type="radio", id="id104", name="radio2")
                  label(for="id104") Женский
            .group
              .group__item.is-col__md-4.is-col__xs-12
              .group__item.is-col__md-8.is-col__xs-12
                .checkbox
                  input(type="checkbox", id="che2", checked)
                  label(for="che2") Получать новости от «Города»
                .checkbox
                  input(type="checkbox", id="che3")
                  label(for="che3") Согласен на обработку моих персональных данных
            .group
              .group__item.is-col__md-4.is-col__xs-12
              .group__item.is-col__lg-5.is-col__md-6.is-col__xs-12
                button.margtop10.btn.btn--success.btn--full(type="submit") Зарегистрироваться