main.page-index
  .container
    section.reg
      include ../components/_breadcrumbs
      h1= title
      ul.cabinet-menubar.cabinet-menubar--null
        li.active
          a(href="#")
            i.icon-reg
            | Регистрация
        li
          a(href="#")
            i.icon-auth
            | Войти
      .settings
        .settings-body.settings-body--form
          form(action="", method="post")
            +fieldInputCols('email', 'name', 'Электронная почта', 'gor@mail.ru', false)
            .group
              .group__item.is-col__md-4.is-col__xs-12
              .group__item.is-col__md-8.is-col__xs-12
                .checkbox
                  input(type="checkbox", id="che3")
                  label(for="che3") Я согласен получать уведомления по электронной почте
            .group.margtop30
              .group__item.is-col__md-4.is-col__xs-12
              .group__item.is-col__md-5.is-col__xs-12
                button.btn.btn--success.btn--full(type="submit") Зарегистрироваться