main.page-lp
  .container
    section.banner-star
      .is-col__lg-6.is-col__md-8
        p.i.is-icons.is-icons--lp-star
        h1.text--success Правила призовых акций клуба привилегий и поощрений
        p "Город возможностей"– это программа призовых акций, которая позволяет выигрывать подарки за каждую покупку и быть в курсе всех акций и новостей наших партнеров. А наши партнеры - это лучшие магазины, рестораны и сервисы нашего города.
    section.prize-section 
      .is-row
        .is-col.is-col__md-6.is-col__xs-12
          p.i.is-icons.is-icons--lp-sherif
          h2.sec-title Кто участник?
          p В розыгрыше участвуют те клиенты, которые совершали покупку/ки в заданный  период акции в магазинах-партнерах "Города Возможностей"
        .is-col.is-col__md-6.is-col__xs-12
          p.i.is-icons.is-icons--lp-saph
          h2.sec-title Какой приз я могу получить?
          p В зависимости от накопленного рейтинга, участник призовой акции может претендовать на призы в одной из #[a.text--info(href="#") ценовых категорий]
          p.text--default.text__xs *ценность призов в каждой категории рассчитывается отдельно для каждой акции
    section.statistic-section
      .statistic-section-inner
        h2.sec-title Например:
        p Дима, Маша и Алексей Викторович совершали #[br] покупки в магазинах-партнерах #[br] «Города Возможностей», но по-разному:
        .statistic-section-graph
          img(src="images/lp/statistics_alpha.png")
        .is-row
          .is-col.is-col__md-3.is-col__xs-12
            .statistic-section__item
              .statistic-section_txt
                p Дима
                .ico.ico--danger
              .statistic-section_img
                i.is-icons.is-icons--lp-stat-1
          .is-col.is-col__md-5.is-col__xs-12
            .statistic-section__item
              .statistic-section_txt
                p Маша
                .ico.ico--info
              .statistic-section_img
                i.is-icons.is-icons--lp-stat-2
          .is-col.is-col__md-4.is-col__xs-12
            .statistic-section__item
              .statistic-section_txt
                p Алексей #[br] Викторович
                .ico.ico--warning
              .statistic-section_img
                i.is-icons.is-icons--lp-stat-3
      .statistic-section-info
        table.table.statistic-table.table--mobile
          tbody 
            tr
              td(data-th="Дима"): div
                h4 Дима сделал только одну покупку у партнера
                p У Димы низкий рейтинг покупателя, так как он мало покупал и получил 1 бонус на карту
              td(data-th="Маша"): div
                h4 Маша покупала у партнеров каждую неделю.
                p У Маши средний рейтинг покупателя, так как он покупала переодически и получила 5 бонусов на карту
              td(data-th="Алексей Викторович"): div
                h4 Алексей Викторович покупает только у партнеров «Города возможностей» каждый день по несколько раз
                p У Алексея Викторовича высокий рейтинг покупателя и он накопил 93 бонусных балла
            tr
              td(data-th="Дима"): div
                .statistic-table__item
                  h2.sec-title +1
                    i.is-icons.is-icons--coins
                .statistic-table__item
                  h2.sec-title 30
                    i.is-icons.is-icons--lp-triangle
              td(data-th="Маша"): div
                .statistic-table__item
                  h2.sec-title +5
                    i.is-icons.is-icons--coins
                .statistic-table__item
                  h2.sec-title 1500
                    i.is-icons.is-icons--lp-triangle
              td(data-th="Алексей Викторович"): div
                .statistic-table__item
                  h2.sec-title +93
                    i.is-icons.is-icons--coins
                .statistic-table__item
                  h2.sec-title 32775
                    i.is-icons.is-icons--lp-triangle
            tr
              td(data-th="Дима"): div
                .star-rating
                  .star-rating__wrap
                    input.star-rating__input(id="star-1", type="radio", name="rating")
                    label.star-rating__ico.icon-star(for="star-1")
                    input.star-rating__input(id="star-01", type="radio", name="rating")
                    label.half.star-rating__ico.icon-star-half(for="star-01")
                    input.star-rating__input(id="star-2", type="radio", name="rating")
                    label.star-rating__ico.icon-star(for="star-2")
                    input.star-rating__input(id="star-02", type="radio", name="rating")
                    label.half.star-rating__ico.icon-star-half(for="star-02")
                    input.star-rating__input(id="star-3", type="radio", name="rating", checked)
                    label.star-rating__ico.icon-star(for="star-3")
                    input.star-rating__input(id="star-03", type="radio", name="rating")
                    label.half.star-rating__ico.icon-star-half(for="star-03")
                p Дима участвует в 1 ежедневной, в 1 переодической и 1 глобальной призовых акций призов 3 ценности
              td(data-th="Маша"): div
                .star-rating
                  .star-rating__wrap
                    input.star-rating__input(id="star-n1", type="radio", name="rating1")
                    label.star-rating__ico.icon-star(for="star-n1")
                    input.star-rating__input(id="star-n01", type="radio", name="rating1")
                    label.half.star-rating__ico.icon-star-half(for="star-n01")
                    input.star-rating__input(id="star-n2", type="radio", name="rating1", checked)
                    label.star-rating__ico.icon-star(for="star-n2")
                    input.star-rating__input(id="star-n02", type="radio", name="rating1")
                    label.half.star-rating__ico.icon-star-half(for="star-n02")
                    input.star-rating__input(id="star-n3", type="radio", name="rating1")
                    label.star-rating__ico.icon-star(for="star-n3")
                    input.star-rating__input(id="star-n03", type="radio", name="rating1")
                    label.half.star-rating__ico.icon-star-half(for="star-n03")
                p Маша каждую неделю участвует в 1 ежедневной акции розыгрыша призов 3й ценности, а также в каждой переодической и глобальной призовой акции призов 2 ценности
              td(data-th="Алексей Викторович"): div
                .star-rating
                  .star-rating__wrap
                    input.star-rating__input(id="star-m1", type="radio", name="rating2", checked)
                    label.star-rating__ico.icon-star(for="star-m1")
                    input.star-rating__input(id="star-m01", type="radio", name="rating2")
                    label.half.star-rating__ico.icon-star-half(for="star-m01")
                    input.star-rating__input(id="star-m2", type="radio", name="rating2")
                    label.star-rating__ico.icon-star(for="star-m2")
                    input.star-rating__input(id="star-m02", type="radio", name="rating2")
                    label.half.star-rating__ico.icon-star-half(for="star-m02")
                    input.star-rating__input(id="star-m3", type="radio", name="rating2")
                    label.star-rating__ico.icon-star(for="star-m3")
                    input.star-rating__input(id="star-m03", type="radio", name="rating2")
                    label.half.star-rating__ico.icon-star-half(for="star-m03")
                p Алексей Викторович каждый день участвует в  ежедневной акции розыгрыша призов 3й ценности, в каждой переодической акции призов 2 ценности и в каждой глобальной акциии розыгрыша призов 1й ценности
            tr
              td(data-th="Дима"): div
                ul.list--inline
                  li
                    .reload-days.reload-days__xs
                      span 1
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.disactive.reload-days__sm
                      span 7
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.disactive.reload-days__md
                      span 30
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.disactive.reload-days__lg
                      span 365
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.reload-days__xl
                      span C
                      i.is-icons.is-icons--reload
              td(data-th="Маша"): div
                ul.list--inline
                  li
                    .reload-days.reload-days__xs
                      span 1
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.reload-days__sm
                      span 7
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.disactive.reload-days__md
                      span 30
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.disactive.reload-days__lg
                      span 365
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.reload-days__xl
                      span C
                      i.is-icons.is-icons--reload
              td(data-th="Алексей Викторович"): div
                ul.list--inline
                  li
                    .reload-days.reload-days__xs
                      span 1
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.reload-days__sm
                      span 7
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.reload-days__md
                      span 30
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.reload-days__lg
                      span 365
                      i.is-icons.is-icons--reload
                  li
                    .reload-days.reload-days__xl
                      span C
                      i.is-icons.is-icons--reload
    section.title-link
      .text--center
        h2.sec-title Где узнать,  какие сейчас действуют акции и #[br] какие призы за какой рейтинг можно выиграть?
        p Информацию о действующих акциях, утвержденных для них #[br] ценностных категорий и соответствующих категориям #[br] рейтингов вы можете найти на странице club.gor.ru/prize
        a.btn.btn--success(href="#") Перейти к акциям
    section.shares-section.shares
      .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
        .partners__item.partners__item--list
          .partners__item-img.is-col__md-4.is-col__xs-12
            .reload-days
              span 7
              i.is-icons.is-icons--reload
            a(href="#"): img(src="images/shares-1.jpg", alt="")
          .partners__item-desc.is-col__md-8.is-col__xs-12
            h3: a(href="#") Еженедельная призовая акция
            p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно 
            .partners__item-share
              .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="570000")
              .is-col__lg-5.text--right: a(href="#") Подробнее об акции
        .partners__item.partners__item--list
          .partners__item-img.is-col__md-4.is-col__xs-12
            .reload-days
              span 30
              i.is-icons.is-icons--reload
            a(href="#"): img(src="images/shares-2.jpg", alt="")
          .partners__item-desc.is-col__md-8.is-col__xs-12
            h3: a(href="#") Еженедельная призовая акция
            p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно 
            .partners__item-share
              .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="300000")
              .is-col__lg-5.text--right: a(href="#") Подробнее об акции
        .partners__item.partners__item--list
          .partners__item-img.is-col__md-4.is-col__xs-12
            .reload-days
              span 365
              i.is-icons.is-icons--reload
            a(href="#"): img(src="images/shares-3.jpg", alt="")
          .partners__item-desc.is-col__md-8.is-col__xs-12
            h3: a(href="#") Грандиозная мега акция
            p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно 
            .partners__item-share
              .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="500000")
              .is-col__lg-5.text--right: a(href="#") Подробнее об акции
        .partners__item.partners__item--list
          .partners__item-img.is-col__md-4.is-col__xs-12
            .reload-days
              span
              i.is-icons.is-icons--reload
            a(href="#"): img(src="images/shares-4.jpg", alt="")
          .partners__item-desc.is-col__md-8.is-col__xs-12
            h3: a(href="#") Black Friday акция
            p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно 
            .partners__item-share
              .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="10000")
              .is-col__lg-5.text--right: a(href="#") Подробнее об акци
      aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.hidden__xs.hidden__sm
        .margbot20
          a(href="#"): img(src="images/lp/banner.jpg", alt="")
        .margbot20
          a(href="#"): img(src="images/banner-4.jpg", alt="")