main.page-index
  .container
    section.shares
      include ../components/_breadcrumbs
      h1= title
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
          include ../components/_filter-s
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .tabs
            .sort
              .is-row
                .is-col.is-col__lg-8.is-col__md-8.sort__item
                  a.sort__item-link(href="#") Сегодня
                  a.sort__item-link(href="#") На неделе
                  a.sort__item-link(href="#") Прошедшие
                  a.sort__item-link.active(href="#") По завершению
                .is-col.is-col__lg-4.is-col__md-4.sort__item
                  ul.tabs__caption.tabs__caption--js
                    li.active
                      i.icon-view-list
                      | Списком
                    li
                      i.icon-view-map
                      | На карте
            .tabs__content.active
              .partners__item.partners__item--list
                .partners__item-img.is-col__md-4.is-col__xs-12
                  .reload-days
                    span 7
                    i.is-icons.is-icons--reload
                  a(href="#"): img(src="images/shares-1.jpg", alt="")
                .partners__item-desc.is-col__md-8.is-col__xs-12
                  h3: a(href="#") Еженедельная призовая акция
                  p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                  .partners__item-share
                    .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="570000")
                    .is-col__lg-5.text--right: a(href="#") Подробнее об акции
              .partners__item.partners__item--list
                .partners__item-img.is-col__md-4.is-col__xs-12
                  .reload-days
                    span 30
                    i.is-icons.is-icons--reload
                  a(href="#"): img(src="images/shares-2.jpg", alt="")
                .partners__item-desc.is-col__md-8.is-col__xs-12
                  h3: a(href="#") Еженедельная призовая акция
                  p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                  .partners__item-share
                    .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="300000")
                    .is-col__lg-5.text--right: a(href="#") Подробнее об акции
              .partners__item.partners__item--list
                .partners__item-img.is-col__md-4.is-col__xs-12
                  .reload-days
                    span 365
                    i.is-icons.is-icons--reload
                  a(href="#"): img(src="images/shares-3.jpg", alt="")
                .partners__item-desc.is-col__md-8.is-col__xs-12
                  h3: a(href="#") Грандиозная мега акция
                  p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                  .partners__item-share
                    .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="500000")
                    .is-col__lg-5.text--right: a(href="#") Подробнее об акции
              .partners__item.partners__item--list
                .partners__item-img.is-col__md-4.is-col__xs-12
                  .reload-days
                    span
                    i.is-icons.is-icons--reload
                  a(href="#"): img(src="images/shares-4.jpg", alt="")
                .partners__item-desc.is-col__md-8.is-col__xs-12
                  h3: a(href="#") Black Friday акция
                  p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                  .partners__item-share
                    .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="10000")
                    .is-col__lg-5.text--right: a(href="#") Подробнее об акции
              include ../components/_paginator
            .tabs__content
              h3 На карте