main.page-index
  .container
    section.shares.shares-item
      include ../components/_breadcrumbs
      h1= title
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.pulled-right
          .sidebar-shares
            .sidebar-shares__item
              .partners__item-img
                .reload-days
                  span 7
                  i.is-icons.is-icons--reload
                a(href="#"): img(src="images/shares-5.jpg", alt="")
              .sidebar-shares__desc
                h4 Ежемесячная призовая акция
                p Участвуйте и побеждайте. Каждую неделю для вас мега-розыгрыш.
            ul.accordion.accordion--once
              li.accordion-inner
                .accordion-title-js.active
                  .accordion-title
                    b Контакты
                    i
                  .accordion-item.accordion-item-js.active
                    .accordion-item__inner
                      p Телефоны: #[br] +7 4932 93-00-00
                      a(href="#") gor.ru
              li.accordion-inner
                .accordion-title-js.active
                  .accordion-title
                    b На карте
                    i
                  .accordion-item.accordion-item-js.active
                    .accordion-item__inner
                      p Адрес: #[br] Ulica Slobode 14, Светой Стефан, Черногория
                    .text--center
                        img(src="images/map-sm.jpg", alt="")
              li.accordion-inner
                .accordion-title-js.active
                  .accordion-title
                    b Фотографии
                    i
                  .accordion-item.accordion-item-js.active
                    .sidebar-slider
                      - for (var i =1; i < 3; i++)
                        img(src="images/photo.jpg", alt="")
                    .slider-arrow
                      .slider-arrow-left
                      .slider-arrow-right
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .shares-item__body
            h2.sec-title Каждый месяц получай призы
            p: img(src="images/share-item.jpg", alt="")
            .shares-item__counter
              .shares-item__counter-item.is-col__lg-7.is-col__sm-8.is-col__xs-12
                h3 До розыгрыша осталось:
                .b-countdown.b-countdown--lg: div(data-controller="Cloaca", data-time="500000")
              .shares-item__counter-item.is-col__lg-5.is-col__sm-4.is-col__xs-12.text__sm--right
                h3 Количество участников:
                  .num 13102
            p Весеннее равноденствие, оценивая блеск освещенного металического шарика, дает первоначальный керн, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Зенитное часовое число ничтожно колеблет Юпитер. Полнолуние потенциально. Весеннее равноденствие, на первый взгляд, последовательно меняет космический мусор.
            p Каждый четверг! В Garden Cafe! C 21:30 до 22.30 ВСЕ напитки со скидкой 50%!  Вы когда-нибудь пробовали Long Island, Mojito, Pino Colada или Ваш любимый напиток на 50% дешевле, но такой же по вкусу?!  Нет?  Тогда мы ждем Вас!
            p: img(src="images/map.jpg", alt="")
          .shares-inner
            .title
              .title-item
                h2.sec-title Другие призовые акции
              .title-item.text--right
                a(href="#") Все акции
            .partners__item.partners__item--list
              .partners__item-img.is-col__md-4.is-col__xs-12
                .reload-days
                  span 7
                  i.is-icons.is-icons--reload
                a(href="#"): img(src="images/shares-1.jpg", alt="")
              .partners__item-desc.is-col__md-8.is-col__xs-12
                h3: a(href="#") Еженедельная призовая акция
                p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                .partners__item-share
                  .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="570000")
                  .is-col__lg-5.text--right: a(href="#") Подробнее об акции
            .partners__item.partners__item--list
              .partners__item-img.is-col__md-4.is-col__xs-12
                .reload-days
                  span 30
                  i.is-icons.is-icons--reload
                a(href="#"): img(src="images/shares-2.jpg", alt="")
              .partners__item-desc.is-col__md-8.is-col__xs-12
                h3: a(href="#") Еженедельная призовая акция
                p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                .partners__item-share
                  .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="300000")
                  .is-col__lg-5.text--right: a(href="#") Подробнее об акции
            .partners__item.partners__item--list
              .partners__item-img.is-col__md-4.is-col__xs-12
                .reload-days
                  span 365
                  i.is-icons.is-icons--reload
                a(href="#"): img(src="images/shares-3.jpg", alt="")
              .partners__item-desc.is-col__md-8.is-col__xs-12
                h3: a(href="#") Грандиозная мега акция
                p Идея правового государства, из которого на 50% состоит руда месторождения, категорически отражает системный субъект власти. Текстура представляет собой совершенный апофиз. Понятие политического конфликта, особенно в
                .partners__item-share
                  .b-countdown.is-col__lg-7: div(data-controller="Cloaca", data-time="500000")
                  .is-col__lg-5.text--right: a(href="#") Подробнее об акции