main.page-index
  .container
    section.action
      include ../components/_breadcrumbs
      .tags-title
        h1= title
        .tags-item: a.btn.btn--white(href="#") Детские товары
      .is-row
        aside.is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.pulled-right
          .sidebar-menu-title
            i.is-icons.is-icons--question
            span О партнере
          .sidebar-shares__item
            .partners__item-img.shadow
              a(href="#"): img(src="images/action.png", alt="")
            .sidebar-shares__desc
              h4 Black/White #[br] 2 строчка названия #[br] 3 если надо
              p Ресторан-кафе средиземноморской кухни с потрясающим видом на что-то еще
        .is-col.is-col__lg-9.is-col__md-8.is-col__xs-12
          .card
            .card-img.is-col__lg-6.is-col__xs-12
                .slider-for
                  div: img(src="images/card-imgb.jpg", alt="")
                  div: img(src="images/card-imgb.jpg", alt="")
                  div: img(src="images/card-imgb.jpg", alt="")
                .slider-nav
                  div: .inner: img(src="images/card-img1.jpg", alt="")
                  div: .inner: img(src="images/card-img2.jpg", alt="")
                  div: .inner: img(src="images/card-img1.jpg", alt="")
            .card-desc.is-col__lg-6.is-col__xs-12
              h3 Описание
              p Идеально подойдет для пары с ребенком. (расчитана на 4 машины). определяет из ряда вон выходящий фактор коммуникации.
              .card-prices
                .card-prices__price 1300 Р
                .card-prices__coins +370
                  i.is-icons.is-icons--coins
              .form__group
                .checkbox
                    input(type="checkbox", id="id002", checked)
                    label(for="id002") Списать бонусы
              .form__group
                a.btn.btn__icon.btn__icon--left.btn--success.popup(href="#form-id")
                  i.icon.is-icons.is-icons--cart
                  | Заказать
              p: a.popup(href="#map-id") Правила получения приза
              p Хотите этот приз, но у Вас ещё нет карты «Города Возможностей»?
              .form__group
                a.btn.btn__icon.btn__icon--left.btn--danger.popup(href="#txt-id")
                  i.icon.is-icons.is-icons--card
                  | Получить карту
      .shares-inner
        h2.sec-title Похожие призы
        .is-row
          +product-gm(products2)
          .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.hidden__md
            .partners__item.partners__item--foot
              .partners__item-img: a(href="#"): img(src="images/gift-4.jpg", alt="")
              .partners__item-desc
                h4: a(href="#") 1 строчка названия 2 если надо
                p Эпоха, как бы это ни казалось парадоксальным, выбирает эксцентриситет
              .partners__item-footer
                .partners__item-footer--item
                  .partners__item--price 2700 Р
                .partners__item-footer--item.text--right
                  .partners__item--coins +130
                  .price-desc: i.is-icons.is-icons--coins
