//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            li.main-nav__item
                a.main-nav__link(href=item.href, title=item.title)
                    - if(item.subitems !== false)
                        i.is-icons(class=item.subitems)
                    span=item.title

mixin product(items)
    each item in items
        .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
            .partners__item.partners__item--foot
                .partners__item-img: a(href="#"): img(src=item.img, alt="")
                .partners__item-desc
                    h4: a(href="#")=item.title
                    p=item.desc
                    - if(item.tips !== false)
                        span.text--default.text__xs=item.tips
                .partners__item-footer
                    .partners__item-footer--item
                        .partners__item--price=item.price
                        - if(item.percents == false)
                            .price-desc: i.is-icons.is-icons--coins
                    .partners__item-footer--item.text--right
                        - if(item.mouse !== false)
                            .target.target--js(data-popover="Только при переходе с сайта"): i.is-icons.is-icons--mouse
                        - if(item.okey !== false)
                            .target.target--js(data-popover="Есть списание бонусов"): i.is-icons.is-icons--okey

mixin productlp(items)
    each item in items
        .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
            .partners__item.partners__item--foot
                .partners__item-img: a(href="#"): img(src=item.img, alt="")
                .partners__item-desc
                    h4: a(href="#")=item.title
                    p=item.desc
                    - if(item.tips !== false)
                        span.text--default.text__xs=item.tips
                .partners__item-footer
                    .partners__item-footer--item
                        .partners__item--price=item.price
                        - if(item.percents == false)
                            .price-desc: i.is-icons.is-icons--coins
                    .partners__item-footer--item.text--right
                        - if(item.mouse !== false)
                            .target.target--js(data-popover="Только при переходе с сайта"): i.is-icons.is-icons--mouse
                        - if(item.okey !== false)
                            .target.target--js(data-popover="Есть списание бонусов"):  i.is-icons.is-icons--okey


mixin product-g(items)
    each item in items
        .is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12
            .partners__item.partners__item--foot
                .partners__item-img: a(href="#"): img(src=item.img, alt="")
                .partners__item-desc
                    h4: a(href="#")=item.title
                    - if(item.desc !== false)
                        p=item.desc
                .partners__item-footer
                    .partners__item-footer--item
                        .partners__item--price=item.price
                        .price-desc: i.is-icons.is-icons--coins

mixin product-gm(items)
    each item in items
        .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
            .partners__item.partners__item--foot
                .partners__item-img: a(href="#"): img(src=item.img, alt="")
                .partners__item-desc
                    h4: a(href="#")=item.title
                    - if(item.desc !== false)
                        p=item.desc
                .partners__item-footer
                    .partners__item-footer--item
                        .partners__item--price=item.price
                    .partners__item-footer--item.text--right
                        .partners__item--coins=item.coins
                        .price-desc: i.is-icons.is-icons--coins


mixin product-list(items)
    each item in items
        tr
            td
                .partners__item-img
                    a(href="#"): img(src=item.img, alt="")
            td
                .partners__item-tag(class=item.class)
            td.partners__item-desc
                h4: a(href="#")=item.title
                p=item.desc
            td
                .partners__item--price=item.price
                    - if(item.percents == false)
                        i.is-icons.is-icons--coins
                span.text--default.text__xs=item.tips
            td.text--right
                - var parent  = ''
                - var parent2  = ''
                - if(item.okey == false) parent='disabled'
                .target.target--js(class=parent, data-popover="Есть списание бонусов"):  i.is-icons.is-icons--okey
                - if(item.mouse == false) parent2='disabled'
                .target.target--js(class=parent2, data-popover="Только при переходе с сайта"): i.is-icons.is-icons--mouse


mixin product-lists(items)
    each item in items
        tr
            td
                .partners__item-img
                    a(href="#"): img(src=item.img, alt="")
            td
                .partners__item-tag(class=item.class)
            td.partners__item-desc
                h4: a(href="#")=item.title
                p=item.desc


mixin blog-item(items)
  each item in items
    .blog__item
      .blog__item-left.is-col__md-4.is-col__xs-12
        a(href="#").blog__item-img
          img(src=item.img, alt="")
        .blog__item-shadow
        .blog__item-tags
          - if(item.ico !== false)
            i.is-icons(class=item.ico)
          span=item.tags 
      .blog__item-desc.is-col__md-8
        h3=item.title
        p=item.desc
        .pulled-left
          span.text--default 16.07.2016 21:00
        .pulled-right
          a(href="#") подробнее


mixin notice-item(items)
    each item in items
        .notice-item
            - var parent  = ''
            - if(item.close !== false)
                .notice-item__close.close-tag--js: i.is-icons.is-icons--close
            - if(item.subclass !== false) parent=item.class
            .notice-item__body(class=parent)
                .notice-item__title=item.title
                .notice-item__desc.is-col__lg-9=item.desc
                .is-row
                    .is-col.is-col__md-6: a(href="#") Подробнее
                    .is-col.is-col__md-6.text--right 16:10 10.09.2016


mixin cabinet-table(items)
    each item in items
        tr
            td(data-th="Дата и место")
                div
                    p 12.11.2015
                    p.text--default 153000, Ивановская обл., Иваново
                    b=item.text
            td(data-th="Рейтинг")
                span=item.sum
            td(data-th="Бонусы")
                span=item.add
                i.is-icons.is-icons--coins


mixin glyph(name, id)
  .glyph.fs1
      .clearfix.bshadow0.pbs
          span(class="fslicon-"+name)
          spa.mls fslicon-#{name}
      fieldset.fs0.size1of1.clearfix.hidden-false
          input(type="text" readonly value=id class="unit size1of2")
          input(type="text" readonly value=name class="unitRight size1of2 talign-right")
      .fs0.bshadow0.clearfix.hidden-true
          span.unit.pvs.fgc1 liga:
          input(type="text" readonly value="" class="liga unitRight")


//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    label(for=id)= label
    input.control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)
mixin fieldInputCols(type, name, label, placeholder, required)
    .group
        .group__item.is-col__md-4.is-col__xs-12
            label= label
        .group__item.is-col__md-8.is-col__xs-12
            input.control(type=type, name=name, value=placeholder, required=required)


//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
    label(for=id)= label
    textarea.control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name
