extends layouts/_default

block title
    title Case__fly
    - var title = 'Предложение'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_action-solo

block siteFooter
    include partials/_footer
