extends layouts/_default

block title
    title Case__fly
    - var title = 'Авторизация'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_auth

block siteFooter
    include partials/_footer
