extends layouts/_default

block title
    title Case__fly
    - var title = 'Выставка-фотографий «Роботы и мужики»'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_blog-item

block siteFooter
    include partials/_footer
