extends layouts/_default

block title
    title Case__fly
    - var title = 'Блог о городе'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_blog

block siteFooter
    include partials/_footer
