extends layouts/_default

block title
    title Case__fly
    - var title = 'Каталог предложений и вознаграждений'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_catalog-gift

block siteFooter
    include partials/_footer
