extends layouts/_default

block title
    title Case__fly
    - var title = 'DVD-диски и фильмы'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_company

block siteFooter
    include partials/_footer
