extends layouts/_default

block title
    title Case__fly
    - var title = 'Вопросы и ответы'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_faq

block siteFooter
    include partials/_footer
