extends layouts/_default

block title
    title Case__fly
    - var title = 'Оформление заказа'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_order

block siteFooter
    include partials/_footer
