extends layouts/_default

block title
    title Case__fly
    - var title = 'Ali Express'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_partners-item

block siteFooter
    include partials/_footer
