extends layouts/_default

block title
    title Case__fly
    - var title = 'Призовые акции'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_shares

block siteFooter
    include partials/_footer
