extends layouts/_default

block title
    title Case__fly
    - var title = 'Призовая акция'

block pageName
    -var pageName = "main"

block siteHeader
    include partials/_header

block siteMain
    include pages/_share-item

block siteFooter
    include partials/_footer
